@charset "UTF-8";

:root {
    --font-family: -apple-system, system-ui, sans-serif;
    --font-family-heading: "Roboto", "Lato", "Helvetica Neue", Helvetica,
        -apple-system, system-ui, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT,
        Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
        Courier, monospace;

    /* Theme colors */
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #333;
    --color-gray-70: rgb(86, 86, 86);

    --background-color: #fff;

    --text-color: var(--color-gray-90);
    --text-color-link: rgb(116, 6, 116);
    --text-color-link-visited: rgb(61, 6, 61);

    --accent-color1: rgb(232, 34, 232);
    --accent-color2: rgb(243, 214, 46);
    --accent-color3: rgb(50, 178, 233);
    --accent-color4: rgb(24, 194, 78);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-gray-20: #e0e0e0;
        --color-gray-50: #c0c0c0;
        --color-gray-90: #dad8d8;

        /* --text-color is assigned to --color-gray-_ above */
        --text-color-link: #1493fb;
        --text-color-link-visited: #a6a6f8;

        --background-color: #15202b;

        --accent-color1: hsl(300, 80%, 80%);
        --accent-color2: hsl(51, 89%, 80%);
        --accent-color3: hsl(198, 81%, 80%);
        --accent-color4: hsl(139, 78%, 80%);
    }
}

/* Global stylesheet */
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}

body {
    font-size: 18px;
    line-height: 1.444;
    font-weight: 100;

    --sl-color-primary-50: hsl(300, 80%, 95%);
    --sl-color-primary-100: hsl(300, 80%, 90%);
    --sl-color-primary-200: hsl(300, 80%, 80%);
    --sl-color-primary-300: hsl(300, 80%, 70%);
    --sl-color-primary-400: hsl(300, 80%, 60%);
    --sl-color-primary-500: hsl(300, 80%, 50%);
    --sl-color-primary-600: hsl(300, 80%, 40%);
    --sl-color-primary-700: hsl(300, 80%, 30%);
    --sl-color-primary-800: hsl(300, 80%, 20%);
    --sl-color-primary-900: hsl(300, 80%, 10%);
    --sl-color-primary-950: hsl(300, 80%, 5%);
}

p:last-child {
    margin-bottom: 0;
}
p,
.post li,
img {
    max-width: 37.5em; /* 600px /16 */
}
p,
.post li {
    line-height: 1.45;
}
.post > *:not(.post-nav) {
    margin-inline: 3rem;
}

a[href] {
    color: var(--text-color-link);
}
a[href]:visited {
    color: var(--text-color-link-visited);
}

@media screen and (max-width: 991px) {
    .desktop-only {
        display: none !important;
    }
}
@media screen and (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}

.social-title {
    font-size: 22px;
    font-family: var(--pfe-theme--font-family--heading);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 0;
    line-height: 1.4;
}

.mobile-only {
  text-align: right;
  font-size: 1.5em;
}
.mobile-only .social-title {
  display: none;
}

main {
    padding: 1rem;
}
main :first-child {
    margin-top: 0;
}
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-bottom: 1px dashed var(--color-gray-20);
    margin-block-end: 2em;
}

header:has(.post-nav) {
    margin-block-end: 1em;
}
.post-nav {
    margin-inline: 1rem;
}

.brand {
    display: flex;
    flex-flow: row nowrap;
}

.brand sl-avatar {
    --size: 3rem;
}

sl-icon-button[src] {
  fill: var(--sl-color-neutral-600);
}

sl-icon-button[src]:hover {
  fill: var(--sl-color-primary-600);
}

.brand > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: space-between;
    justify-content: center;
    margin-inline-start: 1rem;
}

table {
    margin: 1em 0;
}
table td,
table th {
    padding-right: 1em;
}

pre,
code {
    font-family: var(--font-family-monospace);
    line-height: 1.5;
}
pre {
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: 0.5em 0;
    background-color: #f6f6f6;
}
code {
    word-break: break-all;
}

/* Header */
.company {
    margin-block-start: 0;
    margin-block-end: 0.1rem;
    font-size: 1em; /* 16px /16 */
}
.company :link:not(:hover) {
    text-decoration: none;
}

/* Nav */
.nav {
    padding: 0;
    list-style: none;
    margin: 0;
}
.nav-item {
    display: inline-block;
    margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
    text-decoration: none;
}
.nav-item-active {
    font-weight: 700;
    text-decoration: underline;
}

iframe {
    aspect-ratio: 16 / 9;
}

.header-headline {
    font-family: var(--font-family-heading);
    font-weight: 100;
    font-size: 2em;
    margin-block-end: .3em;
}
.accent {
    color: var(--sl-color-primary-700);
}
.center {
    text-align: center;
}
.light {
    font-weight: 100;
    font-size: 2em;
    margin-block-start: 2.5em;
}
.hidden-text {
    display: none;
}

.quote {
    margin-inline: 15vw;
    margin-block: 2em;
    text-align: right;
}

.quote-attribution {
    font-weight: normal;
    margin-inline-start: auto;
}

.quote-quotation {
    font-family: var(--font-family-heading);
    margin-top: 0;
    line-height: 1.4;
    font-style: italic;
    font-size: 1.8em;
}

.quote-reference {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
}

.bio {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1100px;
}
.bio > *:not(sl-avatar) {
    margin-inline: auto;
}
.bio .fill p {
    margin-inline: unset;
    width: 100%;
}
.bio sl-avatar {
    --size: 6em;
    margin-inline-end: auto;
}
.bio-image {
  float: right;
}

/* List groupings */
.list:not(.simple) {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-block: 1em;
    padding-inline: 0;
    margin-block-end: 2em;
}
.simple .list-item {
    margin-bottom: 1em;
}
.list-item {
    --border-color: var(--sl-color-primary-500);
}
.list-item:nth-child(2n + 1) {
    --border-color: var(--accent-color2);
    --sl-color-primary-600: var(--accent-color2);
}
.list-item:nth-child(3n + 1) {
    --border-color: var(--accent-color3);
    --sl-color-primary-600: var(--accent-color3);
}
.list-item:nth-child(4n + 1) {
    --border-color: var(--accent-color4);
    --sl-color-primary-600: var(--accent-color4);
}
.list-item::part(header),
.list-item::part(footer) {
    --border-color: transparent;
}
.simple .list-title {
    font-weight: 600;
}
.list-title {
    margin-block-start: 0;
    margin-block-end: 0.25em;
}
.list-title a {
    color: var(--text-color);
    text-decoration: none;
}
.list-title a:hover {
    color: var(--text-color-link);
    padding-inline: 0;
}
.list-preview {
    /* --text-color-link: var(--color-gray-70);
    --text-color-link-visited: var(--color-gray-70); */
    margin-block-start: 1em;
    color: var(--color-gray-70);
}
.list > sl-card::part(base) {
    height: 100%;
}
.list-title a + sl-icon {
    display: none;
    height: 1.5rem;
    margin-block: -0.25rem;
    margin-inline-start: 0.5rem;
    color: var(--text-color-link);
}
.list-title a:hover + sl-icon {
    display: inline-block;
}
.list-date {
    font-size: 0.8125em; /* 13px /16 */
    color: var(--color-gray-90);
}
.list-date {
    word-spacing: -0.5px;
}
.list-link {
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-underline-position: from-font;
    text-underline-offset: 0;
    text-decoration-thickness: 1px;
}
.list-item[active] .list-link {
    font-weight: bold;
}
/* Tags */
.post-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.75em; /* 12px /16 */
    padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
    margin-left: 0.6666666666667em; /* 8px /12 */
    margin-top: 0.5em; /* 6px /12 */
    margin-bottom: 0.5em; /* 6px /12 */
    color: var(--color-gray-90);
    border: 1px solid var(--color-gray-50);
    border-radius: 0.25em; /* 3px /12 */
    text-decoration: none;
    line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
    color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
    background-color: var(--color-gray-20);
}
.post .list-item > .post-tag {
    align-self: center;
}
