%grid {
    margin-top: calc(var(--spacing--vertical, 30px) * -1);
    display: flex;
    flex-flow: row wrap;

    @supports (display: grid) {
        display: grid;
        grid-row-gap: var(--pfe-theme--container-spacer, 16px);
        grid-column-gap: var(--pfe-theme--container-spacer, 16px);
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 0;
    }

    > * {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: var(--spacing--vertical, 30px);

        @supports (display: grid) {
            margin-top: 0;
        }
    }
}

[data-layout="4 4 4"] {
    margin-top: calc(var(--spacing--vertical, 30px) * -1);

    @media (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;
    }

    >* {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-top: var(--spacing--vertical, 30px);

        @media (min-width: 768px) {
            &:nth-child(3n + 1) {
                clear: both;
                width: 31.61984%;
                float: left;
                margin-right: 2.57023%;
            }

            &:nth-child(3n + 2) {
                clear: both;
                width: 31.61984%;
                float: left;
                margin-right: 2.57023%;
            }

            &:nth-child(3n + 3) {
                clear: both;
                width: 31.61984%;
                float: right;
                margin-right: 0;
            }
        }
    }
}

[data-layout="7 5"] {
    @extend %grid;

    @supports (display: grid) {
        @media (min-width: 992px) {
            grid-row-gap: 40px;
            grid-column-gap: 80px;
            grid-template-columns: 7fr 5fr;
            grid-template-rows: auto;
            body.cv & {
                grid-column-gap: 30px;
            }
        }
    }
}

[data-layout="8 4"] {
    @extend %grid;

    @supports (display: grid) {
        @media (min-width: 992px) {
            grid-row-gap: 40px;
            grid-column-gap: 80px;
            grid-template-columns: 8fr 4fr;
            grid-template-rows: auto;
            body.cv & {
                grid-column-gap: 30px;
            }
        }
    }
}

[data-layout="auto-grid"] {
    body:not(.cv) & {
        --spacing--vertical: max(10px, 5vw);
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: var(--spacing--vertical);
    column-gap: var(--spacing--horizontal);
    overflow: hidden;

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
    }
}

[data-layout*="stacked"] {
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--spacing--vertical, 1em);
    column-gap: var(--spacing--horizontal, 2em);
}

[data-layout="min-stacked"] {
    --spacing--vertical: .5em;
    --spacing--horizontal: 1em;
}

[data-layout*="flex"] {
    display: flex;
    flex-flow: row wrap;
    row-gap: var(--spacing--vertical, 1em);
    column-gap: var(--spacing--horizontal, 2em);

    &[data-layout*="right"] {
        justify-content: flex-end;
    }

    &[data-layout*="left"] {
        justify-content: flex-start;
    }

    &[data-layout*="center"] {
        justify-content: center;
    }

    &[data-layout*="both"] {
        align-items: center;
        justify-content: center;
    }

    &[data-layout*="space-evenly"] {
        justify-content: space-evenly;
    }

    &[data-layout*="space-between"] {
        justify-content: space-between;
    }

    [data-layout*="centered"] {
        align-items: center;
        justify-content: space-between;
    }
}

[data-layout="overflow"] {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    scroll-snap-type: x mandatory;
    padding-bottom: 2em;

    body:not(.cv) & {
        --pfe-card--BorderColor: #eee;
        --pfe-card--BorderWidth: 1px;

        gap: 2em;
        grid-template-columns: repeat(4, minmax(400px, 1fr));
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 100vw;
        padding-inline: 2em;
        overscroll-behavior-x: contain;

        pfe-card {
            border-radius: 3px;
        }
    }

    > * {
        scroll-snap-align: center;
    }
}
