%flex {
    display: flex;
    flex-flow: row var(--flex-wrap, wrap);
    row-gap: var(--gap, var(--row-gap, var(--spacing--vertical, 1em)));
    column-gap: var(--gap, var(--column-gap, var(--spacing--horizontal, 2em)));
    align-items: var(--align-items);
    justify-content: var(--justify-content);

    >* {
        flex-grow: var(--flex-grow);
        flex-shrink: var(--flex-shrink);
        flex-basis: var(--flex-basis);
        align-self: var(--align-self);
        justify-self: var(--justify-self);
    }
}

%grid {
    @supports (display: grid) {
        display: grid;
        row-gap: var(--gap, var(--row-gap, var(--spacing--vertical, 1em)));
        column-gap: var(--gap, var(--column-gap, var(--spacing--horizontal, 1em)));
        grid-template-columns: var(--columns, 1fr);
        grid-template-rows: var(--rows, auto);
        place-items: var(--grid-place-items);

        @media (min-width: 768px) {
            --columns: repeat(auto-fit, minmax(var(--grid-min-width, 300px), 1fr));
        }

        body:not(.cv) & {
            --spacing--vertical: max(.8em, 5vw);
        }
    }

    @supports not (display: grid) {
        @extend %flex;
    }
}

[data-layout*="flex"] {
    @extend %flex;

    &[data-layout*="center"] {
        --justify-content: center;
    }

    >[data-layout*="expand"] {
        --flex-grow: 1;
    }
}

[data-layout="4 4 4"] {
    @extend %grid;
    --columns: repeat(3, 1fr);
}

[data-layout="7 5"] {
    @extend %grid;

    @media (min-width: 992px) {
        --columns: 7fr 5fr;
        --spacing--horizontal: 80px;
        --spacing--vertical: 40px;
    }
}

[data-layout="8 4"] {
    @extend %grid;

    @media (min-width: 992px) {
        --columns: 8fr 4fr;
        --spacing--horizontal: 80px;
        --spacing--vertical: 40px;
    }
}

[data-layout*="stacked"] {
    @extend %grid;
    --spacing--horizontal: 2em;
}

[data-layout*="min-stacked"] {
    --spacing--vertical: .5em;
    --spacing--horizontal: 1em;
}

[data-layout="grid"] {
    @extend %grid;
}

[data-layout="auto-grid"] {
    @extend %grid;
    overflow: hidden;
}

[data-layout="overflow"] {
    @extend %grid;
    --columns: repeat(auto-fit, minmax(var(--grid-min-width, 400px), 1fr));
    --rows: max(400px, 1fr);
    --gap: 0;

    scroll-snap-type: x mandatory;
    padding-bottom: 2em;

    >* {
        scroll-snap-align: center;
    }
}
