%counter-margin {
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
}

%headline-link {
    a {
        text-decoration: none;
        color: inherit;

        body.cv & {
            text-decoration: underline;
        }

        @each $state in (hover, focus) {
            &:#{$state} {
                color: var(--pfe-broadcasted--link--#{$state});
            }
        }

        &:visited {
            color: inherit;
        }
    }
}

%title {
    @extend %headline-link;
    font-size: 22px;
    font-family: var(--pfe-theme--font-family--heading);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0;
    line-height: 1.4;

    .featured & {
        color: var(--pfe-theme--color--ui-accent);
    }

    &.accent {
        color: var(--headline--accent);
    }
}

%headline {
    @extend %headline-link;
    font-family: var(--pfe-theme--font-family--heading);
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 100;
    margin-top: 0;
    line-height: 1.1;

    .featured & {
        color: var(--pfe-theme--color--ui-accent);
    }

    &.accent {
        color: var(--headline--accent);
    }

    @media (min-width: 992px) {
        font-size: 39px;
    }

    @media (min-width: 1200px) {
        font-size: 42px;
    }
}

%headline-3 {
    @extend %headline-link;
    font-family: var(--pfe-theme--font-family--heading);
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.18;
}

%summary {
    font-size: 1.2em;
    line-height: 1.38;
    margin-top: 0;

    a {
        color: var(--pfe-broadcasted--link);

        @each $state in (hover, focus, visited) {
            &:#{$state} {
                color: var(--pfe-broadcasted--link--#{$state});
            }
        }

        &:visited {
            text-decoration: line-through;
        }
    }
}

%text-alignment {
    [data-text-align="right"] & {
        text-align: right;
    }

    [data-text-align="left--right"] & {
        text-align: left;

        @media (min-width: 768px) {
            text-align: right;
        }
    }

    [data-text-align="center"] & {
        text-align: center;
        margin-bottom: 1.2em
    }

    [data-text-align="sm-md--center"] & {
        text-align: center;

        @media (min-width: 992px) {
            text-align: left;
        }
    }
}

@mixin resume-mode {
    :root {
        --pfe-theme--font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
        --pfe-theme--font-family--heading: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
    }

    #about {
        img[data-type="profile"] {
            max-width: 400px;
            max-height: 90%;
            bottom: -70px;
            right: 5vw;
            z-index: 0;

            @media (min-width: 768px) {
                width: 40vw;
            }
        }
    }

    .header-title,
    .header-headline {
        font-size: 1.6em;
        font-weight: 100;
        text-transform: uppercase;
        color: var(--pfe-theme--color--ui-accent);

        text-align: left !important;
        border-bottom: 1px solid #ddd;
        margin-top: 1px;
        margin-bottom: 10px;
    }

    #teaser,
    .video-embed-iframe-container {
        display: none;
    }

    #teaser {
        z-index: 5;
        background-color: rgba(0, 0, 0, .7);
        --context: darker;

        .group {
            --spacing--vertical: 0;
        }

        .header {
            display: grid;
            grid-template-columns: 2.5em 1fr;
            grid-gap: 1em;
        }

        pfe-cta {
            font-size: 1.3em;
        }
    }

    pfe-accordion {
        z-index: 1;
    }

    pfe-accordion-header,
    pfe-accordion-panel {
        --pfe-accordion--BorderColor--accent: transparent;
        --pfe-accordion--BorderRightWidth: 0;
        --pfe-accordion--accent: transparent;
        --pfe-accordion--BoxShadow: none;
    }
}
