@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");

@function draw($lower: 45, $upper: 150) {
  @return #{random($upper) + 10px} #{random($lower) + 10px} #{random($upper) + 10px} #{random($lower) + 10px} / #{random($lower) + 10px} #{random($upper) + 10px} #{random($lower) + 10px} #{random($upper) + 10px};
}

@import "tools";
@import "animation";
@import "layouts";

:root {
  --pfe-theme--color--ui-accent: rgb(31, 73, 112);
  --pfe-theme--color--ui-accent--hover: rgb(49, 115, 176);
  --pfe-theme--color--ui-accent--focus: rgb(49, 115, 176);

  --pfe-theme--color--surface--base: #fff;
  --pfe-theme--color--surface--base--theme: light;
  --pfe-theme--color--surface--accent: rgb(31, 73, 112);
  --pfe-theme--color--surface--accent--theme: saturated;
  --pfe-theme--color--surface--darker: var(--secondary, #444);

  --pfe-theme--container-spacer: 16px;
}

*,
*::after,
*:before {
  box-sizing: border-box;
}

html {
  backface-visibility: hidden;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.444;
  font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@import "typography/headings";
@import "typography/content";
@import "components/band";
@import "components/card";
@import "components/cta";
@import "components/video";
@import "components/image";

#social {
  z-index: 2;

  @media screen and (max-width: 991px) {
    z-index: 5;
    border-bottom: 1px solid #eee;
  }

  @media screen and (max-width: 991px) {
    .header-title {
      font-size: 1.5em;
    }

    .social-title {
      font-size: 1.2em;
      font-weight: 100;
    }

    .social-icon>* {
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 1629px) {
    --pfe-band--BackgroundColor: #fff;
    --pfe-band--Padding: 5px 15vw;
  }
}

#about {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

#coding pfe-card {
  z-index: 3;
}

.social {
  @media screen and (min-width: 1630px) and (max-width: 1819px) {
    --spacing--vertical: 5px;
    @include stacked;
  }

  &-title {
    @extend %title;
  }

  &-icon {
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover>* {
      color: #55acee;
    }

    >* {
      text-decoration: none;
      font-size: 22px;
    }

    >[name]:not([href]) {
      color: inherit;
    }

    > :visited {
      text-decoration: line-through;
    }
  }
}

.quote {
  z-index: 1;
  quotes: "“""”""‘""’";

  &-container {
    @extend %text-alignment;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    list-style: none;

    +pfe-cta {
      font-style: normal;
    }
  }

  &-attribution {
    font-weight: bold;
    text-align: right;

    a {
      color: inherit;

      &:hover {
        color: #fffa;
      }
    }
  }

  &-quotation {
    font-family: "Patrick Hand", cursive;
    margin-top: 0;
    padding-bottom: 1em;
    line-height: 1.4;
    font-style: italic;
    font-size: 1.4em;

    @media (min-width: 768px) {
      font-size: 1.6em;
    }

    @media (min-width: 992px) {
      font-size: 1.8em;
    }
  }

  &-reference {
    font-size: pem(14);
    line-height: 1.142;
    margin: 0;
    text-transform: uppercase;
  }
}

.slider {
  &[data-align="bleed"] {
    @extend %counter-margin;
    width: auto;
  }

  &-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    [data-nav-style="arrows"] & {
      height: 100%;
    }

    &-item {
      cursor: pointer;
      list-style-type: none;
      transition-property: background 0.2s ease-in 0s;

      [data-nav-style="text"] & {
        padding: 5px 15px;

        @media (min-width: 768px) {
          padding: 9px 40px;
        }
      }

      [data-nav-style="circles"] & {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 9px;
        height: 1.6em;
        width: 1.6em;

        pfe-card & {
          height: 1.2em;
          width: 1.2em;
        }
      }

      [data-nav-style="text"] &,
      [data-nav-style="circles"] & {
        background: transparent;
        border: 1px solid #252527;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        &[data-active="true"],
        &[data-active="false"]:hover {
          background-color: #252527;
          border: 0;

          [data-theme="dark"] & {
            background-color: white;
          }
        }

        [data-theme="dark"] & {
          border-color: white;
        }
      }

      [data-nav-style="arrows"] &[data-active="true"] {
        border-radius: 5px;
        color: #252527;

        [data-theme="dark"] & {
          border-color: white;
        }

        &[data-direction="prev"] {
          border-style: solid;
          border-width: 20px 20px 0;
          border-color: transparent;
          border-top-color: inherit;
          transform: rotate(90deg);
        }

        &[data-direction="next"] {
          border-style: solid;
          border-width: 20px 20px 0;
          border-color: transparent;
          border-top-color: inherit;
          transform: rotate(-90deg);
        }
      }
    }

    &-link {
      transition-property: color 0.2s ease-in 0s;

      [data-nav-style="text"] &,
      [data-nav-style="circles"] & {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: 0.9em;

        @media (min-width: 768px) {
          font-size: 1em;
        }
      }

      [data-active="true"] &,
      [data-active="false"] & {
        color: white;

        [data-theme="dark"] & {
          color: #252527;
        }
      }
    }
  }
}

.switcher {
  padding-top: 0;
  overflow: hidden;
  position: relative;

  &-body {
    transition: min-height 1s ease;
  }

  &-tab {
    height: 0;
    overflow: hidden;

    &[data-active="true"] {
      height: auto;
    }
  }

  &-slide {
    position: absolute;
    top: 0;
    left: 0;
    /* set up the transitions */
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;

    &[data-state="current"] {
      transform: translate(0, 0);
      transform: translate3D(0, 0, 0);
    }

    &[data-state="next"] {
      transform: translate(200%, 0);
      transform: translate3D(200%, 0, 0);
    }

    &[data-state="prev"] {
      transform: translate(-150%, 0);
      transform: translate3D(-150%, 0, 0);
    }
  }
}

@import "vendor";

/*# sourceMappingURL=home.css.map */