@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");

@function draw($lower: 45, $upper: 150) {
  @return #{random($upper) + 10px} #{random($lower) + 10px} #{random($upper) + 10px} #{random($lower) + 10px} / #{random($lower) + 10px} #{random($upper) + 10px} #{random($lower) + 10px} #{random($upper) + 10px};
}

@import "tools";
@import "animation";
@import "layouts";

:root {
  --pfe-theme--color--ui-accent: rgb(31, 73, 112);
  --pfe-theme--color--ui-accent--hover: rgb(49, 115, 176);
  --pfe-theme--color--ui-accent--focus: rgb(49, 115, 176);

  --pfe-theme--color--surface--base: #fff;
  --pfe-theme--color--surface--base--theme: light;
  --pfe-theme--color--surface--accent: rgb(31, 73, 112);
  --pfe-theme--color--surface--accent--theme: saturated;
  --pfe-theme--color--surface--darker:  #444;

  --pfe-theme--container-spacer: 16px;

  --pfe-theme--font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  --pfe-theme--font-family--heading: "Patrick Hand", cursive;

  --headline--accent: rgb(240, 134, 29);
}

*,
*::after,
*:before {
  box-sizing: border-box;
}

html {
  backface-visibility: hidden;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@import "typography/headings";
@import "typography/content";
@import "components/band";
@import "components/card";
@import "components/cta";
@import "components/video";
@import "components/image";
@import "components/toggle";
@import "components/slider";
@import "components/switcher";

@mixin resume-mode {
  --pfe-theme--font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  --pfe-theme--font-family--heading: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;

  .hidden-text {
    display: inline;
  }

  .hidden {
    display: block;
  }

  .shown-text,
  .shown {
    display: none;
  }

  .header-title {
    color: var(--pfe-theme--color--ui-accent);
    
    border-bottom: 1px solid #ddd;
    margin-top: 1px;
    margin-bottom: 10px;
    max-width: 70%;
  }

  #teaser,
  .video-embed-iframe-container {
    display: none;
  }

  pfe-accordion {
    z-index: 1;
  }

  pfe-accordion-header,
  pfe-accordion-panel {
    --pfe-accordion--BorderColor--accent: transparent;
    --pfe-accordion--BorderRightWidth: 0;
    --pfe-accordion--accent: transparent;
    --pfe-accordion--BoxShadow: none;
  }
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.444;
  font-family: var(--pfe-theme--font-family);

  &.animating {
    * {
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-duration: 0.3s;
      transition-property: width, height, padding, border-radius;
    }
  }

  .hidden,
  .hidden-text {
    display: none;
  }

  &.cv {
    @include resume-mode;
  }
}

.print-only {
  display: none;
}

@media print {
  body {
    font-size: 14px;
  }

  @include resume-mode;

  pfe-band {
    border: none;
    padding: 20px 0;
  }

  pfe-card:not(.featured) {
    border: none;
  }

  #social {
    display: none;
  }

  #about .image-embed-img {
    max-width: 150px;
  }

  #coding {
    margin-top: 150px;
  }

  #design,
  #presentations {
    padding-top: 0;
  }

  .print-hidden {
    display: none;
  }

  .print-only {
    display: block;
    @include stacked;
  }
}

#social {
  --pfe-band--BackgroundColor: #fff;
  --pfe-band--context: light;

  z-index: 2;

  @media screen and (max-width: 991px) {
    z-index: 5;
    border-bottom: 1px solid #eee;

    body.cv & {
      z-index: 99;
    }
  }

  @media screen and (max-width: 991px) {
    .masthead {
      font-size: 1.5em;
    }

    .social-title {
      font-size: 1.2em;
      font-weight: 100;
    }

    .social-icon>* {
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 1629px) {
    --pfe-band--BackgroundColor: #fff;
    --pfe-band--context: light;
    --pfe-band--PaddingTop: 5px;
    --pfe-band--PaddingBottom: 5px;
  }
}

body:not(.cv) #about {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

#coding pfe-card {
  body:not(.cv) & {
    z-index: 3;
  }
  body.cv & {
    --pfe-card--Padding: 0;
    --pfe-card--BorderColor: transparent;
  }
}

.social {
  @media screen and (min-width: 1630px) and (max-width: 1819px) {
    --spacing--vertical: 5px;
    @include stacked;
  }

  &-title {
    @extend %title;
  }

  &-icon {
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover>* {
      color: #55acee;
    }

    >* {
      text-decoration: none;
      font-size: 22px;
    }

    >[name]:not([href]) {
      color: inherit;
    }

    > :visited {
      text-decoration: line-through;
    }
  }
}

#presentations {
  body:not(.cv) & .header-title {
    padding-left: 30px;
    margin-bottom: 0;
  }

  body.cv & pfe-card {
    margin-bottom: -2rem;
  }
}

#design {
  body.cv & {
    [data-layout="6 6"] {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  pfe-card {
    --pfe-card--BackgroundColor: transparent;
    --pfe-card--context: light;

    body.cv & {
      --pfe-card--Padding: 5px;
      max-width: 550px;
      &:last-child {
        margin-top: 10px;
      }
    }
    
    .portfolio-details {
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;
      > .image-embed {
        max-width: 100px;
      }
      > :not(.image-embed) {
        align-self: flex-end;
      }
    }
  }
}

@import "vendor";

/*# sourceMappingURL=home.css.map */