@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@function draw($lower: 45, $upper: 150) {
  @return #{random($upper) + 10px} #{random($lower) + 10px} #{random($upper) + 10px} #{random($lower) + 10px} / #{random($lower) + 10px} #{random($upper) + 10px} #{random($lower) + 10px} #{random($upper) + 10px};
}

@import "tools";
@import "animation";
@import "layouts";

:root {
  --pfe-theme--color--ui-accent: rgb(176, 48, 148);
  --pfe-theme--color--ui-accent--hover: var(--pfe-theme--color--ui-accent);
  --pfe-theme--color--ui-accent--focus: var(--pfe-theme--color--ui-accent);
  --pfe-theme--color--link: var(--pfe-theme--color--ui-accent);

  --pfe-theme--color--surface--base: #fff;
  --pfe-theme--color--surface--base--theme: light;
  --pfe-theme--color--surface--accent: var(--pfe-theme--color--ui-accent);
  --pfe-theme--color--surface--accent--theme: saturated;
  --pfe-theme--color--surface--darker:  #444;

  --pfe-theme--container-spacer: 16px;

  --pfe-theme--font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  --pfe-theme--font-family--heading: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;

  --headline--accent: rgb(221, 24, 179);

  --spacing--vertical: 1em;
  --spacing--horizontal: 1em;

  [on="saturated"] {
      --pfe-theme--color--ui-accent: rgb(255, 255, 255);
  }

  [on="darker"] {
    --pfe-theme--color--ui-accent: rgb(223, 30, 181);
  }

  @each $state in (hover, focus) {
    --pfe-theme--color--ui-accent--#{$state}: var(--pfe-theme--color--ui-accent);
    --pfe-theme--color--link--#{$state}: var(--pfe-theme--color--ui-accent--#{$state});

    [on="saturated"],
    [on="darker"] {
        --pfe-theme--color--ui-accent--#{$state}: var(--pfe-theme--color--ui-accent);
        --pfe-theme--color--link--#{$state}: var(--pfe-theme--color--ui-accent--#{$state});
    }
  }
}

*,
*::after,
*:before {
  box-sizing: border-box;
}

html {
  backface-visibility: hidden;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@import "typography/headings";
@import "typography/content";
@import "components/band";
@import "components/card";
@import "components/cta";
@import "components/video";
@import "components/image";
@import "components/toggle";
@import "components/slider";
@import "components/switcher";

@mixin resume-mode {
  --pfe-theme--font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  --pfe-theme--font-family--heading: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;

  .header-title,
  .header-headline {
    font-size: 1.6em;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--pfe-theme--color--ui-accent);

    text-align: left !important;
    border-bottom: 1px solid #ddd;
    margin-top: 1px;
    margin-bottom: 10px;
  }

  #teaser,
  .video-embed-iframe-container {
    display: none;
  }

  #teaser {
    z-index: 5;
    background-color: rgba(0,0,0,.7);
    --context: darker;

    .group {
      --spacing--vertical: 0;
    }

    .header {
      display: grid;
      grid-template-columns: 2.5em 1fr;
      grid-gap: 1em;
    }

    pfe-cta {
      font-size: 1.3em;
    }
  }

  pfe-accordion {
    z-index: 1;
  }

  pfe-accordion-header,
  pfe-accordion-panel {
    --pfe-accordion--BorderColor--accent: transparent;
    --pfe-accordion--BorderRightWidth: 0;
    --pfe-accordion--accent: transparent;
    --pfe-accordion--BoxShadow: none;
  }
}

body {
  position: relative;
  margin: 0;

  font-family: var(--pfe-theme--font-family);
  font-size: 18px;
  line-height: 1.444;

  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;

  &:not(.cv) {
    --rainbow-gradient: linear-gradient(0deg, #b927fc7e 0%, #2c90fc7e 25%, #b8fd337e 50%, #fec8377e 75%, #fd18927e 100%);
    --context: saturated;
    --pfe-band--context: saturated;

    @media (prefers-reduced-motion: no-preference) {
      background-image: var(--rainbow-gradient);
      background-size: 100% 1100%;
      animation: rotate 40s linear infinite alternate;
    }
  }

  &.animating {
    * {
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-duration: 0.3s;
      transition-property: width, height, padding, border-radius;
    }
  }

  &.cv {
    @include resume-mode;
  }
}

.print-only {
  display: none;
}

svg {
  height: 2.5em;
  fill: currentColor;
  align-self: center;
}

pfe-tab-panel {
  --pfe-tabs__panel--PaddingTop: 0;
}

pfe-accordion {
  --pfe-accordion--BorderColor: transparent;
}

@media print {
  body {
    font-size: 14px;
  }

  @include resume-mode;

  pfe-band {
    border: none;
    padding: 20px 0;
  }

  pfe-card:not(.featured) {
    border: none;
  }

  #social {
    display: none;
  }

  #coding {
    margin-top: 150px;
  }

  #presentations {
    padding-top: 0;
  }

  .print-hidden {
    display: none;
  }

  .print-only {
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--spacing--vertical, 1em);
    column-gap: var(--spacing--horizontal, 2em);
  }
}

#social {
  z-index: 99;

  @media screen and (max-width: 991px) {
    z-index: 5;

    .social {
      display: none;
    }
  }

  &:not([color="transparent"]) {
    --pfe-band--BackgroundColor: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}

#about {
  display: grid;
  place-items: center;

  .social {
    padding: .5em;
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: 992px) {
    .social {
      display: none;
    }
  }

  > * {
    gap: Max(1em, 5vw);
    flex-wrap: nowrap;

    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
    }

    > *:last-child {
      flex-grow: 1;
    }
  }
}

#consulting {
  .card-header-headline {
    font-size: 2.2em;
  }
}

#coding {
  .card-header-headline {
    font-size: 1.3em;
  }

  pfe-card {
    body:not(.cv) & {
      z-index: 3;
    }
    body.cv & {
      --pfe-card--Padding: 0;
      --pfe-card--BorderColor: transparent;
    }
  }
}

.social {
  @media screen and (min-width: 1630px) and (max-width: 1819px) {
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--spacing--vertical, 1em);
    column-gap: var(--spacing--horizontal, 2em);
  }

  &-title {
    @extend %title;
  }

  &-icon {
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    >* {
      text-decoration: none;
      font-size: 22px;
    }

    >[name]:not([href]) {
      color: inherit;
    }

    > :visited {
      text-decoration: line-through;
    }
  }
}

#presentations {
  overflow: hidden;
  padding-bottom: 0;

  .card-header-headline {
    font-size: 1.3em;
  }
}

#contact {
  --pfe-broadcasted--link: var(--pfe-broadcasted--text);

  .featured {
    font-size: 1em;
  }

  > * {
    align-items: center;
  }

  @media screen and (max-width: 991px) {
    .header-title {
      text-align: left;
    }

    > * {
      align-items: flex-start;
    }

    [data-text-align="center"] .header-summary,
    pfe-cta {
      text-align: left;
    }
  }
}

@keyframes rotate {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@import "vendor";

/*# sourceMappingURL=home.css.map */
