# MySQL — matches docker-compose.yml service defaults
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=

# Default dev environment settings
NODE_ENV=development
WATCH_MODE=true
NETLIFY_BUILD_HOOK_URL=

GITHUB_PERSONAL_ACCESS_TOKEN=
