<header>
    <div class="brand">
        <a  href="{{ '/' | url }}"><sl-avatar image="{{ metadata.logo }}" label="Avatar of the author"></sl-avatar></a>
        <div>
            <h1 class="brand-company"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
            <span class="brand-owner">{{ metadata.author.name }}</span>
        </div>
    </div>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <div class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
            <sl-button
                {% if entry.url == page.url %}variant="neutral"
                {% else %}variant="neutral" outline{% endif %}
                href="{{ entry.url | url }}">
                {{ entry.title }}
            </sl-button>
        {%- endfor %}
    </div>
    
    <div class="social desktop-only">
        {% include "social.njk" %}
    </div>
</header>
