{% if social_context == "mobile" %}<sl-button-group label="Social accounts">
{% else %}<div>{% endif %}
    {% for account in social.accounts %}
        <sl-tooltip content="Follow on {{ account.name }}" placement="bottom">
            <sl-button variant="text" size="large"><sl-icon {% if account.icon_name %}name="{{ account.icon_name }}"{% elseif account.icon_src %}src="{{ account.icon_src }}"{% endif %} href="{{ account.url }}"></sl-icon></sl-button>
        </sl-tooltip>
    {% endfor %}
{% if social_context == "mobile" %}</sl-button-group>
{% else %}</div>{% endif %}