.header-title {
    --headline-transform: uppercase;
    --headline-size: 1.2em;
    --headline-weight: 800;
    --headline-line-height: 1.4;
    text-align: var(--text-align, left);

    [data-text-align="right"] &,
    &[data-text-align="right"] {
        --text-align: right;
    }

    [data-text-align="center"] &,
    &[data-text-align="center"] {
        --text-align: center;
    }
}

.masthead {
    font-size: 1.5em;
    margin-block-end: 0;
}

.social-title {
    font-size: 1.2em;
    font-weight: 100;
}

.summary {
    --text-size: 1.2em;

    body:not(.cv) & .extra {
        --text-size: 1.4em;
    }

    body:not(.cv) & .extra {
        font-size: 1.4em;
    }

    body.cv & b,
    body.cv & strong {
        font-weight: normal;
    }
}

[class*="headline"]+p {
    --text-size: 1.2em;

    body:not(.cv) & .extra {
        --text-size: 1.4em;
    }
}

[class*="promo"] {
    --headline-size: 1.8em;
}

.masthead {
    --headline-transform: uppercase;
    --headline-size: 1.2em;
    --headline-weight: 800;
    --headline-line-height: 1.4;

    cursor: url(/img/favicon.svg), url(/img/allonsy-logo.png), pointer;
    text-decoration: none !important;

    >span {
        transition: transform 0.2s linear;
        display: inline-block;
    }

    &:hover>span {
        &:first-of-type {
            transform: translateX(-.5em);
        }

        &:last-of-type {
            transform: translateX(.5em);
        }
    }
}
