.header-title,
.masthead {
    @extend %text-alignment;
    @extend %title;
}

.header-headline {
    @extend %text-alignment;
    @extend %headline;
}

.header-summary {
    @extend %text-alignment;
    @extend %summary;

    body:not(.cv) & .extra {
        font-size: 1.4em;
    }

    body.cv & b {
        font-weight: normal;
    }

    body.cv &[data-text-align="center"] {
        text-align: left;
    }
}

.promo-headline {
    @extend %text-alignment;
    @extend %headline;
    font-size: 30px;
}

.header>*:last-child {
    margin-bottom: 0;
}

.header-title {
    &[data-weight="thin"] {
        font-weight: 100;
    }
}

.masthead {
    &:hover>span {
        transition: transform 0.2s linear;
        display: inline-block;

        &:first-of-type {
            transform: translateX(-5px);
        }

        &:last-of-type {
            transform: translateX(5px);
        }
    }
}
