<a-band id="cta" thick space-evenly{% if accent %} class="accent--{{ accent }}"{% endif %}>
    <a-note>
        <p>Available for full-time, consulting, speaking, writing, or workshops.</p>
        <p><a class="cta-link" href="{{ site.contact.scheduler }}">Book a free call</a></p>
    </a-note>
    <img src="../img/cartoon-thinking.png" alt="A cartoon of the author, Cassondra Roberts, thinking about the future of the web.">
</a-band>
