<a-band id="header" collapsed accent class="masthead" role="banner">
    <a href="{{ '/' | url }}" title="Return to the home page" slot="header">
        {% include "../pages/assets/logo.svg" %}
    </a>
    <h1 class="headline company-name">{{ site.title }}</h1>
    <p class="headline-summary">{{ site.tagline | join(' • ') }}</p>

    {% set navigation = collections.all | eleventyNavigation %}
    {% if navigation | length > 1 %}
    <nav class="navigation" slot="footer" role="navigation">
        <ul class="navigation-list accent--yellow" slot="footer">
            {% for item in navigation %}
                <li class="navigation-item" {% if item.url == page.url %}aria-current="page"{% endif %}>
                    <a class="cta-button" href="{{ item.url }}" aria-label="{{ item.title }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    <div slot="footer">
        {% set icons = candidate.socials %}
        {% include "_icon-group.njk" %}
    </div>
</a-band>

{% js %}
document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const stickyID = "sticky-header";
    const scrollStart = 240;

    if (header) {
        window.addEventListener("scroll", (event) => {
            const stickyHeader = document.getElementById(stickyID);

            if(window.scrollY > scrollStart && !stickyHeader) {
                const clone = header.cloneNode(true);
                clone.id = stickyID;
                clone.setAttribute('stuck', '');
                header.insertAdjacentElement("afterend", clone);
            }
            else if (window.scrollY <= scrollStart && stickyHeader) {
                stickyHeader.remove();
            }
        });
    }
});
{% endjs %}
