<a-band id="masthead" center>
    <div class="branding">
        <a class="branding-image" href="/" title="Return to the home page">
            {% include "../pages/logo.svg" %}
        </a>
    </div>
    <div class="container">
        <div class="content">
            <h1>{{ site.title }}</h1>
            <p class="headline-summary">{{ site.tagline | join(' • ') }}</p>
        </div>
        {% set navigation = collections.all | eleventyNavigation %}
        <nav class="navigation">
            {% if navigation | length > 1 %}
                <ul class="navigation-list accent--yellow">
                    {% for item in navigation %}
                        <li class="navigation-item" {% if item.url == page.url %}aria-current="page"{% endif %}>
                            <a class="cta-button" href="{{ item.url }}" aria-label="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% set icons = candidate.socials | featured %}
            {% include "_icon-group.njk" %}
        </nav>
    </div>
</a-band>

{% css %}
#masthead {
    .branding {
        --border-radius: 50%;
        --image-size: min(calc(80px + 5vw), 120px);

        align-self: stretch;

        .branding-image {
            display: block;

            margin-block-start: var(--theme--container--space);

            inline-size: var(--image-size);
            block-size: auto;
            aspect-ratio: 1 / 1;
            border-radius: var(--border-radius);
        }
    }

    .content {
        background: color-mix(in srgb, var(--theme--surface--color) 80%, transparent);
        padding: var(--theme--container--space);
        border-radius: var(--border-radius);

        h1 {
            font-size: calc(3.6em + 1vw);
            font-weight: var(--theme--FontWeight--light);
            line-height: var(--theme--text--LineHeight);
            letter-spacing: -2px;
            z-index: 1;
            position: relative;
        }

        @container navigation (width <= 480px) {
            h1 {
                font-size: calc(2.1em + 1vw);
            }
        }

        @container navigation (width <= 620px) {
            h1 {
                font-size: calc(2.8em + 1vw);
            }

            .icon-group {
                display: none;
            }
        }
    }

    .container {
        inline-size: 100%;

        container: navigation / inline-size;

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(var(--theme--content--space) * 1.5);

            border-block-start: 2px solid color-mix(in srgb, var(--theme--ui--Color) 80%, transparent);
            padding-block-start: calc(var(--theme--container--space) * .5);

            ul {
                display: inline-flex;
                flex-wrap: wrap;
                gap: var(--theme--content--space);
                list-style-type: none;
                margin: 0;
                padding: 0;

                color: var(--theme--text--Color);
            }

            .cta-button {
                transition: background var(--cta-button--timing, 200ms) var(--cta-button--easing, ease-out), color var(--cta-button--timing, 200ms) var(--cta-button--easing, ease-out);
            }

            ul:not(:has(a:hover)) [aria-current="page"] .cta-button {
                background: var(--theme--ui--Color--hover);
            }

            ul:not(:has(a:hover)) [aria-current="page"] .cta-button {
                --cta-button--timing: 400ms;
                --cta-button--easing: ease-in;
            }
        }
    }
}
{% endcss %}
