<h3>Share your thoughts</h3>

<p>Please note that comments are moderated and published after review.</p>

<form name="comments-queue" netlify-honeypot="bot-field" action="/thanks" netlify>
  <p>
    <label for="comment">Comment <small>(Markdown supported, use `backticks` for code.)</small></label>
    <textarea name="comment" id="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
  </p>
  <p>
    <input name="path" type="hidden" value="{{ page.url }}"/>
    <label for="full-name">Name</label>
    <input name="full-name" id="full-name" required="required"/>
  </p>
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required="required"/>
  </p>
  <p>
    <label for="website">Website</label>
    <input type="url" name="website" id="website" required="required"/>
  </p>
  <p hidden>
    <label for="bot-field" class="visually-hidden">Bot field</label>
    <input type="text" name="bot-field" id="bot-field" style="display: none;"/>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
