<form name="discovery-call" method="POST" data-netlify="true" netlify-honeypot="bot-field" style="--image-url: url({{ 'img/cartoon-thinking.png' | imgSrc }})">
    {% image 'img/cartoon-thinking.png', "A cartoon of the author, Cassondra Roberts, thinking about the future of the web.", [180, 180] %}
    <p>{{ tagline | default ("Share a few details and we will follow up to schedule a discovery call.") }}</p>
    <input type="hidden" name="subject" value="New lead from contact form" />
    <p hidden>
        <label for="bot-field" class="sr-only">Bot field</label>
        <input id="bot-field" name="bot-field" type="text" />
    </p>
    <div class="field-group">
        <p class="form-field">
            <label for="discovery-name">Name</label>
            <input id="discovery-name" name="full-name" type="text" required="required" />
        </p>
        <p class="form-field">
            <label for="discovery-email">Email</label>
            <input id="discovery-email" name="email" type="email" required="required" />
        </p>
    </div>
    <p class="form-field">
        <label for="discovery-message">Message</label>
        <textarea id="discovery-message" name="message" rows="4" required="required"></textarea>
    </p>
    <button type="submit" class="cta-button">Submit</button>
</form>

{% css %}
form[name="discovery-call"] {
    --image-size: 180px;

    inline-size: 100%;

    picture {
        float: inline-end;
    }
}
{% endcss %}
