<a-band id="cta" thick{% if accent %} class="accent--{{ accent }}"{% endif %}>
  <h2 class="title highlight" slot="header">Let's talk</h2>
    {% set tagline = "Available for full-time, consulting, speaking, writing, or workshops." %}
    {% include "contact-form.njk" %}
</a-band>
