<a-band id="header-sticky" collapsed class="masthead sticky" hidden aria-hidden="true">
    <div class="flex">
        <a href="{{ '/' | url }}" title="Return to the home page" tabindex="-1">
            {% include "../pages/assets/logo.svg" %}
        </a>
        <h1 class="headline company-name">{{ site.title }}</h1>
    </div>

    {% set navigation = collections.all | eleventyNavigation %}
    {% if navigation | length > 1 %}
    <div class="navigation" slot="footer">
        <ul class="navigation-list accent--yellow" slot="footer">
            {% for item in navigation %}
                <li class="navigation-item" {% if item.url == page.url %}aria-current="page"{% endif %}>
                    <a class="cta-button" href="{{ item.url }}" aria-label="{{ item.title }}" tabindex="-1">{{ item.title }}</a>
               </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</a-band>

<a-band id="header" collapsed accent class="masthead accent--yellow" role="banner" aria-labelledby="title">
    <a href="{{ '/' | url }}" title="Return to the home page" slot="header">
        {% include "../pages/assets/logo.svg" %}
    </a>
    <div>
        <h1 class="headline company-name" id="title">{{ site.title }}</h1>
        <p class="headline-summary">{{ site.tagline | join(' • ') }}</p>
    </div>

    {% set navigation = collections.all | eleventyNavigation %}
    {% if navigation | length > 1 %}
    <nav class="navigation" slot="footer" role="navigation">
        <ul class="navigation-list" slot="footer">
            {% for item in navigation %}
                <li class="navigation-item" {% if item.url == page.url %}aria-current="page"{% endif %}>
                    <a class="cta-button" href="{{ item.url }}" aria-label="{{ item.title }}">{{ item.title }}</a>
               </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    <div slot="footer">
        {% include "icon-group.njk" %}
    </div>
</a-band>

{% js %}
document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const fixedHeader = document.getElementById("header-sticky");
    let fixedHeight;

    function checkStickyHeader() {
        if(window.scrollY > header.offsetHeight) {
            fixedHeader.removeAttribute('hidden');
            if (!fixedHeight || fixedHeight !== fixedHeader.offsetHeight) {
                fixedHeight = fixedHeader.offsetHeight;
                document.body.setAttribute("data-sticky-height", fixedHeight);
                document.body.style.setProperty("scroll-padding-block-start", fixedHeight + "px");
            }
        } else {
            fixedHeader.setAttribute('hidden', '');
        }
    }

    if (header && fixedHeader) {
        checkStickyHeader();

        window.addEventListener("scroll", (event) => {
            checkStickyHeader();
        });
    }
});
{% endjs %}
