pfe-band {
    --pfe-band--Padding: 60px 9px;
    // body.cv & {
    //     --pfe-band--Padding: 30px 9px;
    // }

    &[data-padding="half"] {
        --pfe-band--Padding: 15px 9px;
    }

    &[data-padding="half-top"] {
        --pfe-band--Padding: 15px 9px 60px;
    }

    &[color="base"] {
        --pfe-band--BackgroundColor: transparent;
        --pfe-band--context: light;
    }

    &[data-width="full"] {
        body:not(.cv) & {
            --pfe-band--Width: auto;
            z-index: 4;
        }
    }

    &[color="accent"] {
        body:not(.cv) & {
            background: linear-gradient(to bottom, rgb(212, 90, 186) 0%, #{lighten(rgb(116, 6, 92), 10%)} 100%);
            --context: saturated;
        }
        body.cv & {
            background-color: transparent;
            --context: light;
        }

        #teaser {
            background: rgb(48, 34, 68);
            border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
            border-image-slice: 1;
            border-block: 8px solid;
            border-inline: 0;
        }
    }

    body:not(.cv) &[data-width="full"][color="accent"] {
        z-index: 4;
    }

    &[sticky] {
        position: sticky;
        z-index: 2;
        top: 0;
        --pfe-band--Width: auto;

        @media (min-width: 992px) {
            --pfe-band--BackgroundColor: transparent;
            --pfe-band--context: light;
            --pfe-band--Padding: 15px 5vw;

            &[data-padding="half"] {
                --pfe-band--Padding: 15px 5vw;
            }
        }

        &[data-padding="half"] {
            --pfe-band--Padding--vertical: 10px;
        }
    }
}

.band-header-title {
    @extend %text-alignment;
    @extend %title;
}

.band-header-headline {
    @extend %text-alignment;
    @extend %headline;
}

.band-header-summary {
    @extend %text-alignment;
    @extend %summary;

    body:not(.cv) & .extra {
        font-size: 1.4em;
    }
}
