pfe-band {
    --pfe-band--Padding--vertical: 4em;
    --pfe-band--Padding--horizontal: .4em;
    transition: background-color 0.3s ease-in;
    scroll-margin: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;

    @media screen and (min-width: 992px) {
        --pfe-band--Padding--vertical: 6em;
        --pfe-band--Padding--horizontal: .8em;
    }

    @media print {
        border: none;
        padding: 20px 0;
    }

    body.cv &:not([sticky]) {
        --pfe-band--Padding--vertical: 2em;
    }

    &[data-padding="double"] {
        padding: 15vh var(--pfe-band--Padding--horizontal) 2em;
        @media screen and (min-width: 992px) {
            --pfe-band--Padding--vertical: 25vh;
        }
    }

    &[data-padding="half"] {
        --pfe-band--Padding--vertical: 1em;
    }

    &[color="transparent"] {
        --pfe-band--BackgroundColor: transparent;
        --pfe-band--context: var(--context);
    }

    &[sticky] {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;

        body.cv & {
          z-index: 99;
        }
    }

    body:not(.cv) &[data-width="full"] {
        --pfe-band--Width: auto;
        z-index: 4;
    }
}

.band-header-title {
    @extend %text-alignment;
    @extend %title;
}

.band-header-headline {
    @extend %text-alignment;
    @extend %headline;
}

.band-header-summary {
    @extend %text-alignment;
    @extend %summary;

    body:not(.cv) & .extra {
        font-size: 1.4em;
    }
}
