sl-card {
    --padding: Clamp(1em, .2vw, 3em);

    font-size: Clamp(1em, 1vw, 1.3em);
    width: Clamp(300px, 100%, 60ch);

    &::part(base) {
        height: 100%;
    }

    &::part(body) {
        flex-grow: 1;
    }

    &::part(header) {
        border-bottom-width: 0;
    }

    &::part(footer) {
        border-top-width: 0;
    }

    body:not(.cv) & {
        --border-radius: 4px;
    }

    &.featured,
    &.bordered {
        --border-width: 2px;

        body.cv & {
            --border-width: 1px;
        }
    }

    &.featured {
        --border-color: var(--sl-color-primary-400);
    }

    &.bordered {
        --border-color: var(--sl-color-neutral-300);

        .headline {
            color: var(--sl-color-primary-400);
        }
    }

    @media print {
        &:not(.featured) {
            border: none;
        }
    }

    &[tilt-on="hover"] {
        body:not(.cv) & {
            transform: rotate(1deg);
            transition: transform 0.1s ease-in;

            &:nth-child(2n) {
                transform: rotate(-1deg);
            }

            &:hover {
                transform: rotate(0deg);
            }
        }
    }

    &[color="transparent"] {
        --sl-panel-background-color: transparent;
    }

    .title {
        @extend %headline-link;
        font-size: 14px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 0;
        line-height: 1.4;

        .featured &,
        &.accent {
            color: var(--headline--accent);
        }

        body.cv & {
            font-weight: 400;
        }
    }

    .headline {
        @extend %headline-link;
        font-size: 22px;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 1.18;

        body:not(.cv) &.accent {
            color: var(--headline--accent);
        }
    }
}
