pfe-card {
    --pfe-card--Padding: Clamp(1em, .2vw, 3em);
    font-size: Clamp(1em, 1vw, 1.3em);
    width: Clamp(300px, 100%, 80ch);

    body:not(.cv) & {
        border-radius: 1em;
    }

    &.featured {
        body.cv & {
            --pfe-card--BackgroundColor: #fff;
            --pfe-card--context: light;
            --pfe-card--BorderWidth: 4px;
            --pfe-card--BorderColor: var(--pfe-theme--color--ui-accent);

            .card-header-headline {
                color: var(--pfe-theme--color--ui-accent);
            }
        }
    }

    &[tilt-on="hover"] {
        body:not(.cv) & {
            transform: rotate(1deg);
            transition: transform 0.1s ease-in;

            &:nth-child(2n) {
                transform: rotate(-1deg);
            }

            &:hover {
                transform: rotate(0deg);
            }
        }
    }

    &[color="transparent"] {
        --pfe-card--BackgroundColor: transparent;
        --pfe-card--context: var(--context);
    }
}


.card-header {
    &-title,
    &-headline {
        @extend %text-alignment-simple;
    }

    &-title {
        @extend %card-title;
        body.cv & {
            font-weight: 400;
        }
    }

    &-headline {
        @extend %headline-2;

        body:not(.cv) & {
            &.accent {
                color: var(--headline--accent);
            }
        }
    }
}
