pfe-card {
    body:not(.cv) &:not(.quote) {
        @for $n from 1 through 10 {
            &:nth-child(#{$n}n) {
                border-top-left-radius: #{random(60) + 30%} #{random(20) + 5px};
                border-top-right-radius: #{random(20) + 5px} #{random(60) + 30%};
                border-bottom-right-radius: #{random(60) + 30%} #{random(20) + 5px};
                border-bottom-left-radius: #{random(20) + 5px} #{random(60) + 30%};
            }
        }
    }

    &.quote {
        --pfe-card--Padding: 0 10px;
        border-left: 4px solid var(--pfe-theme--color--surface--accent);
        height: fit-content;
        font-size: .8em;
    }

    &.featured {
        min-width: calc(max(45%, 300px));
        max-width: 700px;
        body.cv & {
            --pfe-card--BackgroundColor: #fff;
            --pfe-card--context: light;
            --pfe-card--BorderWidth: 4px;
            --pfe-card--BorderColor: var(--pfe-theme--color--ui-accent);

            margin-top: 40px;
            margin-bottom: 40px;
            .card-header-headline {
                color: var(--pfe-theme--color--ui-accent);
            }
        }

        &[border]:not([color="accent"]) {
            --pfe-card--BorderWidth: 4px;
            --pfe-card--BorderColor: var(--pfe-theme--color--ui-accent);
        }
    }

    &[data-type="custom"] {
        @media (min-width: 0) and (max-width: 991px) {
            overflow: visible;
            --pfe-card--BackgroundColor: white;
            --pfe-card--context: light;
            --pfe-broadcasted--text: black;
        }

        @media (min-width: 992px) {
            --pfe-card--BorderRadius: 0;
            margin-top: calc(-1 * var(--pfe-band--PaddingTop, 30px));
            margin-bottom: calc(-1 * var(--pfe-band--PaddingBottom, 30px));
            clip-path: polygon(100% 0, 100% 0, 72% 100%, 0% 100%, 0 53%, 0% 0%);
            shape-outside: polygon(100% 0, 100% 0, 72% 100%, 0% 100%, 0 53%, 0% 0%);
            shape-margin: 10px;
            padding-right: 100px;
        }
    }

    &[data-padding="half"] {
        --pfe-card--Padding: 15px;
    }

    &[data-outline="border"] {
        --pfe-card--Border: 1px solid #252527;

        [data-theme~="dark"] & {
            --pfe-card--Border: 1px solid #fff;
        }
    }

    &[tilt-on="hover"] {
        body:not(.cv) & {
            transform: rotate(1deg);
            transition: transform 0.1s ease-in;

            &:hover {
                transform: rotate(0deg);
            }
        }
    }
    &[color="transparent"] {
        background-color: transparent;
        --context: saturated;
        body.cv & {
            --context: light;
        }
    }
}


.card-header {
    &-title,
    &-headline {
        @extend %text-alignment-simple;
    }

    &-title {
        @extend %card-title;
        body.cv & {
            font-weight: 400;
        }
    }

    &-headline {
        @extend %headline-2;

        body:not(.cv) & {
            &.accent {
                color: var(--headline--accent);
            }
        }
    }
}