.image-embed {
    &[data-type="profile"] {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) {
            float: left;
            width: clamp(500px, 20vw, 90vw);
            margin-right: 40px;
            margin-left: 0;
            margin-bottom: 0;
            margin-top: 30px;
        }
    }

    &-container {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;

        [data-align="bleed"] & {
            margin-left: -30px;
            margin-right: -30px;
        }

        [data-align="bleed"]:first-child & {
            @extend %counter-margin;
        }

        [data-align="bleed"] &,
        [data-align="bleed"]:first-child & {
            background: inherit;
        }

        [data-img-shape="circle"] & {
            position: relative;
            perspective: 1000;
            transform-style: preserve-3d;

            @media (max-width: 991px) {
                max-width: 350px;
                margin: 0 auto;
            }
        }
    }

    &-img,
    &-svg {
        width: 100%;
        display: block;
        height: auto;

        [data-align="left"] & {
            margin-right: auto;
        }

        [data-align="right"] & {
            margin-left: auto;
        }

        [data-align="center"] & {
            margin-right: auto;
            margin-left: auto;
        }

        [data-align="full"] &,
        [data-align="bleed"] & {
            width: 100%;
            height: auto;
            display: block;
        }

        [data-scale="reduced"] & {
            transform: scale(0.75);
        }
    }

    &-img {
        .popup-link:hover & {
            cursor: zoom-in;
        }

        [data-type="profile"] & {
            border-radius: 15px;
        }

        [data-img-shape="circle"] & {
            border-radius: 50%;
        }
    }

    &-caption {
        display: block;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.44;
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}