.video-embed {
    position: relative;

    &-title {
        @extend %headline-3;
    }

    &-summary {
        display: block;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.44;
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &-link {
            text-decoration: none;
            font-weight: 400;

            &[name]:not([href]) {
                color: inherit;
            }

            &:hover,
            &:focus {
                text-decoration: underline;
            }

            &:visited {
                text-decoration: line-through;
            }
        }
    }

    &-details {
        @include stacked;

        &[data-state="visible"] {
            opacity: 1;
            z-index: 1;

            &[data-animation="video-play"] {
                animation: growBand 1s forwards ease-in;
            }

            &[data-animation="video-close"] {
                animation: shrinkBand 1s forwards ease-in;
            }

            &[data-state="hidden"] {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0;
                width: 100%;

                &[data-animation="video-play"] {
                    animation: opacity 0.5s 0.2s forwards ease-in;
                }

                &[data-animation="video-close"] {
                    animation: opacity 0.5s forwards ease-in;
                }
            }
        }
    }

    &-media-container {
        margin-bottom: 1em;

        pfe-card & {
            @extend %counter-margin;
        }
    }

    &-iframe-container {
        padding: 0 0 56.25%;
        height: 0;
        position: relative;

        >* {
            width: 100%;
            height: auto;
            display: block;
        }

        iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        +h3 {
            margin-top: 20px;
        }
    }
}