@mixin stacked($scope: '', $region: '') {
    $prop: '--#{$scope}';

    @if $region != '' {
        $prop: '#{$prop}-#{$region}';
    }

    display: flex;
    flex-flow: column nowrap;
    row-gap: var(#{$prop}--RowGap, calc(var(--theme-spacing-vertical) * 2));
    column-gap: var(#{$prop}--ColumnGap, calc(var(--theme-spacing-horizontal) * 1));
    justify-content: var(#{$prop}--JustifyContent, start);
    align-items: var(#{$prop}--AlignItems, center);
}

@mixin rows($scope: '', $region: '') {
    $prop: '--#{$scope}';

    @if $region != '' {
        $prop: '#{$prop}-#{$region}';
    }

    display: flex;
    flex-flow: row wrap;
    row-gap: var(#{$prop}--RowGap, calc(var(--theme-spacing-vertical) * 1));
    column-gap: var(#{$prop}--ColumnGap, calc(var(--theme-spacing-horizontal) * 1));
    justify-content: var(#{$prop}--JustifyContent, space-around);
    align-items: var(#{$prop}--AlignItems, stretch);
}
