.tag-group {
  --tag-background-color: var(--theme-color-ui-accent);
  --tag-background-base: var(--theme-color-surface);
  --tag-background-opacity: 10%;
  --tag-text-color: var(--theme-color-text);

  margin-block: 1em;

  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  &[slot="footer"] {
    font-size: .9em;
    margin-block-end: 0;
  }
}

.tag-label {
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
  color: var(--theme-color-text);
  line-height: 1.8;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;

  > .tag {
      display: inline-block;
      font-size: 1em;
      font-weight: 800;
      color: var(--tag-text-color);
      padding: 0.2em 0.4em;
      border-radius: var(--border-radius);
      background-color: color-mix(in sRGB, var(--tag-background-color) var(--tag-background-opacity), var(--tag-background-base));

      a {
          text-decoration: none;
          color: inherit;

          &:visited {
              color: inherit;
          }
      }
  }
}
