<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>castastrophe.com</title>
    <meta content="" name="description">
    <meta name="description" content="Web development portfolio">
    <meta name="keywords" content="css, web development, portfolio">
    <meta name="author" content="Cassondra Roberts">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Web development portfolio for @castastrophee.">
    <meta name="twitter:site" content="@castastrophee">
    <meta name="twitter:title" content="Castastrophe portfolio">
    <meta name="twitter:description" content="Web development portfolio for @castastrophee.">
    <meta name="twitter:creator" content="@castastrophee">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <!--meta name="twitter:image" content="http://castastrophe.com/img/logo/casoncode-logo.jpg"-->

    <!-- Open Graph data -->
    <meta property="og:title" content="Castastrophe portfolio">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://castastrophe.com/">
    <!--meta property="og:image" content="http://castastrophe.com/img/logo/casoncode-logo.jpg"-->
    <meta property="og:description" content="Web development portfolio for castastrophe.">
    <meta property="og:site_name" content="castastrophe's site">
    <!-- meta property="fb:admins" content="Facebook numeric ID" /-->

    <!-- If JS is not loaded -->
    <noscript>
        <link rel="stylesheet" href="/css/noscript.min.css" rel="stylesheet">
        <link href="/css/pfelement/dist/pfelement--noscript.min.css" rel="stylesheet">
    </noscript>

    <link href="/css/pfelement/dist/pfelement.min.css" rel="stylesheet">

    <!-- Include CSS files -->
    <link type="text/css" rel="stylesheet" href="/css/vendor.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="/css/home.css" media="all">

    <!-- <link rel="stylesheet" href="/css/pfe-styles/dist/pfe-base.css" /> -->
</head>