<pfe-band data-padding="half" id="social" sticky>
    <div class="band-container" data-layout="space-between" data-align="left">
        <div>
            <h2 class="masthead"><a href="/"{% if page.url == "/" %} aria-current="page"{% endif %}><span>[</span> Cassondra <span>]</span></a></h2>
        </div>
        <div class="social">
            <span class="social-title shown-text" data-weight="thin">Follow: </span>
            <span class="social-title hidden-text" data-weight="thin">More: </span>
            <span class="social-icons">
                <a class="social-icon" href="https://twitter.com/castastrophee">
                    <pfe-icon icon="fab-twitter"></pfe-icon>
                </a>
                <a class="social-icon" href="https://www.linkedin.com/in/castastrophe">
                    <pfe-icon icon="fab-linkedin-in"></pfe-icon>
                </a>
                <a class="social-icon" href="https://github.com/castastrophe">
                    <pfe-icon icon="fab-github-alt"></pfe-icon>
                </a>
                <a class="social-icon" href="https://codepen.io/castastrophee/">
                    <pfe-icon icon="fab-codepen"></pfe-icon>
                </a>
            </span>
        </div>
        <div>
            <h3 class="listing-link"><a href="/blog"{% if page.url == "/blog" %} aria-current="page"{% endif %}>Thoughts</a></h3>
            {% if page.url == "/" -%}<label class="switch">
                <input type="checkbox" onclick="toggleCV()" id="cvToggle"/>
                <span class="switch--toggle"></span>
                <span>CV</span>
            </label>{% endif %}
        </div>
    </div>
</pfe-band>