<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{{ title or metadata.title }}</title>

    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="keywords" content="{{ tags or metadata.tags | join(',') }}">
    <meta name="author" content="{{ author or metadata.author.name }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{ description or metadata.description }}">
    <meta name="twitter:site" content="@castastrophee">
    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    <meta name="twitter:creator" content="@castastrophee">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <!--meta name="twitter:image" content="http://castastrophe.com/img/logo/casoncode-logo.jpg"-->

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://allons-y.llc">
    <!--meta property="og:image" content="http://castastrophe.com/img/logo/casoncode-logo.jpg"-->
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:site_name" content="{{ title or metadata.title }}">
    <!-- meta property="fb:admins" content="Facebook numeric ID" /-->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <link rel="stylesheet" type="text/css" href="/css/light.css" />
    <link rel="stylesheet" type="text/css" href="/css/dark.css" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/index.css' | url }}">

    <script type="module" data-shoelace="/js/shoelace/">
      import "/js/shoelace/components/avatar/avatar.js";
      import "/js/shoelace/components/badge/badge.js";
      import "/js/shoelace/components/button/button.js";
      import "/js/shoelace/components/button-group/button-group.js";
      import "/js/shoelace/components/card/card.js";
      import "/js/shoelace/components/details/details.js";
      import "/js/shoelace/components/icon/icon.js";
      import "/js/shoelace/components/icon-button/icon-button.js";
      import "/js/shoelace/components/tag/tag.js";
      import "/js/shoelace/components/tab/tab.js";
      import "/js/shoelace/components/tab-group/tab-group.js";
      import "/js/shoelace/components/tab-panel/tab-panel.js";
      import "/js/shoelace/components/tooltip/tooltip.js";
    </script>
  </head>
  <body class="{% if darkMode %}sl-theme-dark{% endif %} {{ context }}">
    {% include "nav.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      {% include "pagination.njk" %}
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>