---
layout: base
masthead: true
eleventyNavigation:
  key: Writing
  order: 3
---

<a-band id="post-listing" thick full>
    <h2 class="title" slot="header">Posts</h2>
    {% for article in collections.posts | reverse %}
    {% if article.data.title %}
        <a-card bordered>
            <div slot="header">
                <p class="date">{{ article.data.date | postDate }}</p>
                <h3 class="headline accent"><a href="{{ article.url }}">{{ article.data.title }}</a></h3>
            </div>
            <p class="content">{{ article.data.description }}</p>
            {% if article.data.tags.length > 0 %}<tag-group tags="{{ article.data.tags | join(',') }}" labeled slot="footer"></tag-group>{% endif %}
        </a-card>
    {% endif %}
    {% endfor %}
</a-band>

<a-band id="cta">
    <a-note></a-note>
</a-band>

{% js %}
   import '/js/components/a-band.js';
   import '/js/components/a-card.js';
   import '/js/components/a-note.js';
   import '/js/components/tag-group.js';
{% endjs %}

{% css %}
.date {
    font-weight: var(--theme--FontWeight--light);
    margin-block-end: var(--theme--content--space);
}
.headline {
    margin-block-end: var(--theme--content--space);
}
{% endcss %}
