@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --theme--color--text: light-dark(#333, #fff);
  --theme--color--text-accent: light-dark(hsl(313deg 80% 48%), hsl(313deg 68% 78%));
  --theme--color--surface: light-dark(#fff, #111);
  --theme--color--surface-accent: light-dark(hsl(313deg 68% 78%), hsl(313deg 80% 48%));
  --theme--color--ui-subtle: light-dark(#efefef, #afafaf);

  --theme--container-spacer: 16px;

  --theme--font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  --theme--font-family--heading: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, serif;

  --headline: var(--theme--color--text);
  --headline--accent: var(--theme--color--text-accent);

  --spacing--vertical: 10px;
  --spacing--horizontal: 10px;

  --border-radius: 0.2em;
  --outline-offset: 2px;

  --theme--color--ui-accent: light-dark(hsl(313deg 57% 44%), hsl(313deg 96% 72%));
  --theme--color--ui-accent--hover: light-dark(hsl(313deg 57% 30%), hsl(313deg 96% 62%));
  --theme--color--ui-accent--focus: light-dark(hsl(313deg 57% 30%), hsl(313deg 96% 62%));
  --theme--color--link: var(--theme--color--text-accent);
  --theme--color--link--hover: light-dark(hsl(313deg 80% 50%), hsl(313deg 68% 78%));
  --theme--color--link--focus: light-dark(hsl(313deg 80% 50%), hsl(313deg 68% 78%));
  --theme--color--link--visited: light-dark(hsl(313deg 80% 50%), hsl(313deg 68% 78%));
}

html {
  backface-visibility: hidden;
  scroll-padding-block-start: 20px;
  scroll-behavior: smooth;

  &:has(.post-toc) {
    scroll-padding-block-start: 70px;
  }
}

img,
embed,
object,
video {
  max-inline-size: 100%;
  block-size: auto;
}

p,
pre,
li {
  color: var(--theme--color--text);
}

pre {
  box-sizing: border-box;
  border: 1px solid color-mix(in sRGB, var(--theme--color--surface-accent) 40%, transparent);
  font-family: "PT Mono", monospace;
  display: block;
  font-size: 0.8em !important;
  font-weight: normal;
  line-height: 1.44;
  margin: 0;

  &:not(:last-child) {
    margin-block-end: 1em;
  }
}

p>code,
li>code {
  background-color: light-dark(hsl(230 1% 98%), hsl(230 1% 20%));
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius);
  font-size: 0.8em;
  font-weight: 400;
  line-height: inherit;
  color: var(--theme--color--text);
}

p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.44;
  margin: 0;

  &:not(:last-child, :has(+ .tags)) {
    margin-block-end: 1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--theme--font-family--heading);
  margin-block: 0;
  color: var(--headline);

  .content & {
    margin-block-end: .5em;
  }
}

a {
  text-decoration: none;
  font-weight: 400;
  color: var(--theme--color--link);

  &:hover {
    text-decoration: underline;
    color: var(--theme--color--link--hover, #002f3b);
  }

  &:focus,
  &:focus-visible {
    text-decoration: underline;
    color: var(--theme--color--link--focus, #002f3b);

    &:has(img) {
      outline: none;
    }
  }

  &:visited {
    color: var(--theme--color--link--visited, #002f3b);
  }

  &[name]:not([href]) {
    color: inherit;
  }

  &[aria-current="page"] {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
  }

  img {
    cursor: pointer;
  }

  &:is(:hover, :focus, :focus-visible):has(.fa, .fab) {
    outline: 2px solid var(--theme--color--ui-accent);
    outline-offset: var(--outline-offset, 2px);
    border-radius: var(--border-radius);
  }
}

ul,
ol {
  margin: 0;

  &:not(:last-child) {
    margin-block-end: 1.5em;
  }
}

li {
  font-size: 1em;
  margin: 0;
  line-height: 1.44;
}

b,
strong {
  font-weight: 800;
}

li b,
li strong {
  background-color: color-mix(in sRGB, var(--theme--color--surface-accent) 10%, transparent);
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius);
  font-size: 0.9em;
  font-weight: 800;
}


img {
  aspect-ratio: var(--aspect-ratio, 1 / 1);
  inline-size: var(--image-size, 250px);
  block-size: auto;

  border-radius: var(--border-radius);
  border: 1px solid var(--border-color, var(--theme--color--ui-subtle));
}

.extra {
  font-size: 1.4em;
  font-weight: 900;
  line-height: 1;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--theme--color--surface);

  font-family: var(--theme--font-family);
  font-size: 18px;
  line-height: 1.444;

  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;

  min-block-size: 100vh;
  display: flex;
  flex-flow: column nowrap;

  > main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
  }

  @media print {
    font-size: 14px;
  }
}

.header-title {
  font-size: 22px;
  font-family: var(--theme--font-family--heading);
  margin-block-start: 0;
  margin-block-end: var(--spacing--vertical);
  font-weight: 800;
  line-height: 1.4;
  color: var(--headline);

  .featured &,
  &:where(.accent) {
    color: var(--headline--accent);
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--theme--color--link--hover);
    }

    &:focus {
      color: var(--theme--color--link--focus);
    }

    &:visited {
      color: var(--theme--color--link--visited);
    }
  }
}

.tags {
  &[slot="footer"] {
    margin-block-end: 1em;
    border-block-start: 1px solid var(--theme--color--ui-subtle);
    padding-block-start: 0.5em;
    flex-grow: 1;
  }
}

.metadata {
  margin-block-end: 1em;
  border-block-end: 1px solid var(--theme--color--ui-accent);
}

.tag {
  [slot="footer"]>& {
    text-transform: none;
  }
}

.headline {
  font-family: var(--theme--font-family--heading);
  font-size: 1.8em;
  margin-block-start: 0;
  margin-block-end: 10px;
  font-weight: 100;
  line-height: 1.1;
  color: var(--headline);

  .featured &,
  &:where(.accent) {
    color: var(--headline--accent);
  }

  @media (width >=992px) {
    font-size: 39px;
  }

  @media (width >=1200px) {
    font-size: 42px;
  }

  a-card & {
    font-size: 1.4em;
  }

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration-color: color-mix(in sRGB, var(--theme--color--ui-subtle), black 20%);
    text-decoration-style: solid;
    text-decoration-line: underline;

    &:hover {
      color: var(--theme--color--link--hover);
      text-decoration-color: var(--theme--color--link--hover);
    }

    &:focus {
      color: var(--theme--color--link--focus);
    }

    &:visited {
      color: inherit;
    }
  }
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.print-only {
  display: none;

  @media print {
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--spacing--vertical, 1em);
    column-gap: var(--spacing--horizontal, 2em);
  }
}

svg {
  block-size: 2.5em;
  fill: currentColor;
  align-self: center;
}

@media print {
  .print-hidden {
    display: none;
  }
}

hr {
  border: none;
  border-block-start: 2px solid var(--theme--color--ui-accent);
  inline-size: 100%;
}

blockquote {
  box-sizing: border-box;
  background-color: color-mix(in sRGB, var(--theme--color--ui-accent) 10%, transparent);
  border-inline-start: 4px solid var(--theme--color--ui-accent);
  border-radius: var(--border-radius);
  padding: 1rem;
  inline-size: min(100%, max-content);
  max-inline-size: calc(100% - 2rem);
  font-size: .9em;
  margin-block-start: 2em;
  margin-inline-start: 0;
  position: relative;

  &:has(h1:first-child),
  &:has(h2:first-child),
  &:has(h3:first-child),
  &:has(h4:first-child),
  &:has(h5:first-child),
  &:has(h6:first-child) {
    padding-block-start: 2.5rem;
  }

  strong {
    font-size: 1em;
    font-weight: 800;
  }

  pre,
  code {
    max-inline-size: 100%;
    overflow-x: auto;
  }

  h4 {
    position: absolute;
    display: inline-block;
    font-size: 1.2em;
    inset-block-start: -1.5em;
    inset-inline-start: .8em;
    margin: 0;
    background-color: var(--theme--color--ui-accent);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    box-shadow: 0 0 10px 0 color-mix(in sRGB, var(--theme--color--text) 10%, transparent);
  }
}

[slot="header"]:has(iframe) {
  inline-size: 100%;
  flex-grow: 1;
}

.metadata {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;

  .author:has(+ .date)::after {
    content: '|';
    display: inline-block;
    margin-inline-start: 0.5em;
    color: inherit;
  }

  @media screen and (width <=768px) {
    .date {
      flex-grow: 1;
      margin-inline-end: 2em;
    }
  }

  .cta {
    flex-grow: 1;
    text-align: end;
    margin-inline: 0.5em;

    @media screen and (width <=768px) {
      text-align: start;
      margin-inline-start: 0;
    }
  }
}

.post-cta {
  margin-block-start: 4em;
  max-inline-size: 80ch;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 40px;
  row-gap: 20px;
  align-items: end;
  margin-inline: auto;

  aside {
    flex-grow: 1;
    max-inline-size: 50ch;
    font-size: 1em;
  }

  aside+a:has(img) {
    display: flex;
    inline-size: 217px;
  }

  @media screen and (width <= 980px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.post-toc {
  position: sticky;
  inset-block-start: 0;

  background-color: var(--theme--color--surface);
  color: var(--theme--color--text);

  box-shadow: 0 0 10px 0 color-mix(in sRGB, var(--theme--color--text) 10%, transparent);
  border-radius: var(--border-radius);
  margin-block-start: -1em;
  margin-block-end: 1em;
  margin-inline: -5px;
  z-index: 100;

  a {
    color: inherit;
  }

  summary,
  strong {
    font-size: 1em;
    font-weight: 800;
  }

  summary {
    background-color: color-mix(in sRGB, var(--theme--color--ui-accent) 10%, var(--theme--color--surface));
    cursor: pointer;
    padding: 10px 1rem;

    /* Pin the custom marker to the container */
    position: relative;
    /* Register summary as an anchor element */
    anchor-name: --summary;

    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: "";
    }

    &::before,
    &::after {
      /* Custom marker dimensions */
      content: "";
      border-block-start: 3px solid var(--theme--color--ui-accent);
      height: 0;
      width: 1rem;

      /* Positions the lines */
      inset-block-start: 50%;
      inset-inline-end: 1rem;

      /* Anchor the shape to the summary */
      position: absolute;
      position-anchor: --summary;
      position-area: top end;
    }

    /* Rotate just the ::after line to create a "+"" shape */
    &::after {
      transform: rotate(90deg);
      transform-origin: 50%;
    }
  }

  &[open] {
    summary {
      border-block-end: 1px solid var(--theme--color--ui-accent);
    }

    summary::after {
      transform: rotate(0deg);
    }
  }

  .toc {
    max-block-size: 90vh;
    padding: var(--spacing--vertical) 1rem;
    overflow-y: auto;

    ol {
      padding-inline-start: 20px;
      list-style-type: none;

      &:first-child {
        padding-inline-start: 0;

        > li > a {
          font-weight: bold;
          line-height: 1.8;
        }
      }
    }
  }
}

div:has(> iframe) {
  padding: 0 0 56.25%;
  position: relative;

  iframe {
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;
    position: absolute;
  }
}

.cta {
  -webkit-appearance: button;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: inline-block;

  a {
    font-family: var(--theme--font-family--heading);
    font-size: 1em;
    color: var(--theme--color--link);

    &:visited {
      color: var(--theme--color--link);
    }

    &:hover {
      color: var(--theme--color--link--hover);
    }

    &:focus {
      color: var(--theme--color--link--focus);
    }

    &:active {
      color: var(--theme--color--link--active);
    }

    &:focus-visible {
      outline: 2px solid var(--theme--color--link--focus-visible);
      outline-color: var(--theme--color--link--focus);
    }
  }
}

.cta-link {
  &::after {
    display: inline-block;
    content: '↬';
    margin-inline-start: 0.25em;
    transition: transform 0.2s ease-in-out;
  }

  &:is(:hover, :focus, :focus-visible) {
    &::after {
      transform: translateX(0.25em);
    }
  }

  [data-cta-type="video-play"] & {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: var(--theme--color--link);

    &[data-size="sm"]::after {
      padding: 8px 0 0 3px;
      font-size: 12px;
      line-height: 10px;
      inline-size: 25px;
      block-size: 25px;
      border-width: 1px;
    }
  }
}

.cta-button {
  display: inline-block;
  background-color: var(--theme--color--ui-accent);
  color: var(--theme--color--surface) !important;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 800;
  font-size: .8em;
  line-height: 1.15;
  margin: 0;
  border: none;
  cursor: pointer;

  &:hover {
      background-color: var(--theme--color--ui-accent--hover);
  }

  &:focus {
      background-color: var(--theme--color--ui-accent--focus);
  }

  &:focus-visible {
      outline: 2px solid var(--theme--color--ui-accent--focus);
      outline-offset: var(--outline-offset, 2px);
      border-radius: var(--border-radius);
  }

  &:active {
      background-color: var(--theme--color--ui-accent--active);
  }

  &:last-child {
      margin-block-end: calc(var(--spacing--vertical) * .4);
  }
}

#post-header {
  --spacing-horizontal: 20px;
  --image-size: max(150px, 20%);

  margin-block-start: 2em;

  a:has(img) {
    --border-radius: 50%;
    --outline-offset: -1px;

    cursor: pointer;
    display: flex;
    max-inline-size: var(--image-size);
    block-size: auto;
    margin-block-start: -10px;
    margin-inline-end: 10px;
  }

  img {
    aspect-ratio: 1 / 1;
    inline-size: 100%;
    block-size: auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--theme--color--ui-subtle);
  }
}

#post-content {
  --band-BackgroundColor: color-mix(in sRGB, var(--theme--color--surface) 90%, transparent);

  .body {
    inline-size: 100%;
  }

  .content {
    font-size: 20px;
  }

  hr {
    border-color: color-mix(in sRGB, var(--theme--color--ui-accent) 50%, transparent);
  }
}

#teaser {
  align-items: start;

  img {
    position: absolute;
    padding: 0;
    max-block-size: 18em;
    margin-inline-end: -180px;
    margin-block-end: -1em;
    opacity: 0.3;

    @media screen and (width <=768px) {
      display: none;
    }
  }
}

@media screen and (width >=992px) {
  #presentations {
      margin-block-start: 4em;
  }
}

#projects {
  @media screen and (width >=992px) {
    --card--MaxInlineSize: min(max(300px, 30%), 100%);

    a-card[featured] {
      --card--MaxInlineSize: min(max(450px, 47%), 100%);
    }
  }
}

#posts {
  --spacing--vertical: 2em;
  --grid-columns: 2;

  a-card {
    padding-block-start: 1em;
    padding-block-end: 0;
  }

  @media screen and (width <= 992px) {
    --grid-columns: 1;
  }
}

#services {
  a-card:first-of-type {
    --spacing--vertical: .5em;

    .card-body {
      display: block !important;

      > p {
        background-color: color-mix(in sRGB, var(--theme--color--surface) 70%, transparent);
      }
    }
  }

  div[layout="space-around"] {
    --spacing--vertical: .5em;
    --card--MaxInlineSize: min(50ch, 100%);
    --card--BorderRadius: 8px;

    inline-size: 100%;
    justify-content: space-evenly;

    @media screen and (width <= 992px) {
      --card--MaxInlineSize: min(40ch, 100%);

      font-size: .9em;
    }
  }
}

#consultants {
  --image-size: calc(100% - var(--card--Padding));
  --spacing--vertical: .5em;
  --card--MaxInlineSize: min(270px, 100%);
  --card--BorderRadius: 8px;
  --border-color: transparent;

  inline-size: 100%;
  justify-content: space-evenly;

  img {
    border-radius: calc(var(--border-radius) * 2);
    overflow: hidden !important;
    margin-inline: var(--card--Padding);
    padding-inline: 0;
    box-sizing: border-box;
  }

  @media screen and (width <= 992px) {
    font-size: .9em;
  }
}

#cta {
  .body {
    inline-size: 100%;
  }

  img {
    --image-size: 200px;
    --border-color: transparent;
    shape-outside: url('/img/cartoon-thinking.png');
    shape-margin: .5em;
  }
}

#contact {
  font-size: 1.3em;
  border-block-start: 2px solid color-mix(in sRGB, var(--theme--color--ui-accent) 80%, transparent);
  margin-block-start: 1em;

  .body {
    inline-size: 100%;
  }

  .body:has(> icon-group) {
    --spacing-horizontal: 20px;
    --spacing-vertical: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;

    > icon-group {
      flex-grow: 1;
    }
  }

  a:has(img) {
    display: flex;
  }
}
