@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "theme.css";

html {
  backface-visibility: hidden;
  scroll-padding-block-start: 20px;
  scroll-behavior: smooth;

  /* todo: can we determine the height of the TOC dynamically? */
  &:has(.table-of-contents) {
    scroll-padding-block-start: var(--theme--container--Height--sticky, 70px);
  }
}

:is(a:not(.cta-button)) {
  text-decoration: none;
  font-weight: var(--theme--FontWeight);
  color: var(--theme--link--Color);

  &:has(img) {
    /* Ensures the link fits to the image and has the correct aspect ratio */
    display: flex;
    aspect-ratio: var(--aspect-ratio, 1 / 1);
    inline-size: var(--image-size, 250px);
  }

  &:hover {
    text-decoration: underline;
    color: var(--theme--link--Color--hover);
  }

  &:focus,
  &:focus-visible {
    text-decoration: underline;
    color: var(--theme--link--Color--focus);
  }

  &:visited {
    color: var(--theme--link--Color--visited);
  }

  &[name]:not([href]) {
    color: inherit;
  }

  &[aria-current="page"] {
    color: inherit;
    font-weight: var(--theme--FontWeight--semi-bold);
    text-decoration: underline;
  }

  img {
    cursor: pointer;
  }

  &:is(:focus, :focus-visible) {
    outline: 1px solid var(--theme--ui--Color--active);
    outline-offset: var(--outline-offset, 1px);
    border-radius: var(--border-radius);
  }
}

:is(p) {
  font-size: 1em;
  font-weight: var(--theme--FontWeight);
  line-height: var(--theme--text--LineHeight);

  margin: 0;

  &:is(.extra) {
    font-size: 1.4em;
    font-weight: var(--theme--FontWeight--black);
  }

  .content &:not(:last-child, :last-of-type) {
    margin-block-end: 1em;
  }
}

.content {
  max-inline-size: 100ch;
}

:is(h1, h2, h3, h4, h5, h6),
:is(.title, .headline) {
  font-family: var(--theme--heading--FontFamily);
  color: var(--theme--heading--Color);
  line-height: var(--theme--heading--LineHeight);

  margin-block: 0;

  &:where(.accent) {
    color: var(--theme--heading--Color--accent);
  }

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration-color: color-mix(in sRGB, var(--theme--ui--Color--subtle), black 20%);
    text-decoration-style: solid;
    text-decoration-line: underline;

    &:hover {
      color: var(--theme--link--Color--hover);
      text-decoration-color: var(--theme--link--Color--hover);
    }

    &:where(:focus, :focus-visible) {
      color: var(--theme--link--Color--focus);
      text-decoration: none;
    }

    &:visited {
      color: var(--theme--link--Color--visited);
      text-decoration-color: var(--theme--link--Color--visited);
    }
  }
}

:is(img, embed, object, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:is(code, pre) {
  font-family: var(--theme--code--FontFamily);
}

:is(pre) {
  box-sizing: border-box;
  display: block;

  font-size: 0.8em !important;

  border: 1px solid color-mix(in sRGB, var(--theme--surface--color--accent) 40%, transparent);
  border-radius: var(--border-radius);

  margin: 0;

  &:where(:not(:last-child)) {
    margin-block-end: var(--spacing--vertical);
  }
}

:is(p>code, li>code) {
  background: var(--theme--surface--color);
  color: var(--theme--text--Color);

  font-size: .8em;
  font-weight: var(--theme--FontWeight);
  line-height: inherit;

  border-radius: var(--border-radius);
  padding: .2em .4em;
}

:is(ul, ol) {
  margin: 0;

  &:not(:last-child) {
    margin-block-end: 1.5em;
  }
}

:is(li) {
  font-size: 1em;
  margin: 0;
  line-height: 1.44;
}

:is(b, strong) {
  font-weight: var(--theme--FontWeight--extra-bold);

  &:is(.extra) {
    font-weight: var(--theme--FontWeight);
    font-size: 1.8em;
  }
}

:is(li b, li strong) {
  background-color: color-mix(in sRGB, var(--theme--surface--color--accent) 10%, transparent);
  padding: .2em .4em;
  border-radius: var(--border-radius);

  font-size: .9em;
  font-weight: var(--theme--FontWeight--extra-bold);
}

:is(img) {
  aspect-ratio: var(--aspect-ratio, 1 / 1);
  inline-size: var(--image-size, 250px);
  block-size: auto;

  border-radius: var(--border-radius);
  border: 1px solid var(--border-color, transparent);
}

body {
  position: relative;
  margin: 0;
  background-color: var(--theme--surface--color);
  color: var(--theme--text--Color);

  font-family: var(--theme--text--FontFamily);
  line-height: var(--theme--text--LineHeight);
  font-optical-sizing: auto;

  font-size: 18px;

  /* note: reduce base font size for print */
  @media print {
    font-size: 14px;
  }

  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;

  min-block-size: 100vh;

  display: flex;
  flex-flow: column nowrap;

  >main {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
  }
}

:is(.title) {
  font-family: var(--theme--heading--FontFamily);
  font-size: 1.1em;
  /* todo: convert to rem/em; was: 22px */

  font-weight: var(--theme--FontWeight--semi-bold);
  line-height: var(--title--LineHeight, var(--theme--heading--LineHeight));
  text-transform: var(--title--TextTransform, uppercase);
  padding: var(--title--Padding, 0);

  @container card (width >=0px) {
    font-size: .8em;
  }

  @container card (width >=0px) and band (width >=0px) {
    box-sizing: border-box;
    display: inline-block;

    padding: var(--title--Padding, .1em var(--theme--content--space));
    background: var(--title--Background, color-mix(in srgb, var(--theme--ui--Color) var(--title--Opacity, 10%), var(--theme--surface--color)));
    inline-size: min(var(--title--InlineSize, 80ch), 100%);
    border-radius: var(--border-radius);
  }
}

:is(.headline) {
  font-family: var(--theme--heading--FontFamily);
  font-size: 1.8em;
  font-weight: var(--theme--FontWeight--thin);
  line-height: var(--theme--text--LineHeight);

  /* todo: convert to rem/em */
  @media (width >=992px) {
    font-size: 39px;
  }

  @media (width >=1200px) {
    font-size: 42px;
  }

  @container card (width >=0) {
    font-size: 1.4em;
    font-weight: var(--theme--FontWeight--semi-bold);
    margin-block-end: .2em;

    &:has(+ .headline-summary) {
      margin-block-end: .5em;
    }
  }

  @media (prefers-color-scheme: dark) {
    font-weight: var(--theme--FontWeight);
  }
}

:is(.headline-summary) {
  font-family: var(--theme--heading--FontFamily);
  font-size: 1.4em;
  font-weight: var(--theme--FontWeight--light);
  line-height: var(--theme--text--LineHeight);

  @container card (width >=0) {
    font-size: 1.2em;
    font-weight: var(--theme--FontWeight);
  }
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

svg {
  inline-size: 100%;
  block-size: auto;
  min-block-size: 2.5em;
  fill: currentColor;
  align-self: center;
}

hr {
  border: none;
  border-block-start: 2px solid var(--theme--ui--Color);
  inline-size: 100%;
}

blockquote {
  box-sizing: border-box;
  position: relative;

  font-size: .9em;

  background-color: color-mix(in sRGB, var(--theme--ui--Color) 10%, var(--theme--surface--color));
  border-inline-start: 4px solid var(--theme--ui--Color);
  border-radius: var(--border-radius);

  padding: 1rem;
  inline-size: min(100%, max-content);
  max-inline-size: calc(100% - 2rem);
  margin-block-start: 2em;
  margin-inline-start: 0;

  /* below: fallback for older browsers */
  &:is(h1, h2, h3, h4, h5, h6):first-child {
    padding-block-start: 2.5rem;
  }

  strong {
    font-weight: var(--theme--FontWeight--extra-bold);
  }

  pre,
  code {
    max-inline-size: 100%;
    overflow-x: auto;
  }

  /* todo: add details about why the h4 has special styling */
  h4 {
    position: absolute;
    display: inline-block;
    font-size: 1.1em;
    inset-block-start: -.4em;
    inset-inline-start: .8em;
    margin: 0;
    background-color: color-mix(in sRGB, var(--theme--ui--Color) 90%, var(--theme--surface--color));
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    box-shadow: 0 0 10px 0 color-mix(in sRGB, var(--theme--text--Color) 10%, transparent);
  }
}

/* todo: add note about where this is used */
.metadata {
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--theme--content--space) / 2);
  margin-block-end: var(--theme--content--space);
  border-block-end: 1px solid var(--theme--ui--Color);

  .author:has(+ .date)::after {
    content: '•';
    display: inline-block;
    margin-inline-start: var(--theme--content--space);
    color: inherit;
  }

  @media screen and (width <=768px) {
    .date {
      flex-grow: 1;
      margin-inline-end: 2em;
    }
  }

  .cta {
    flex-grow: 1;
    text-align: end;
    margin-inline: 0.5em;

    @media screen and (width <=768px) {
      text-align: start;
      margin-inline-start: 0;
    }
  }
}

/* todo: move this to the post template? */
.table-of-contents {
  position: sticky;
  inset-block-start: 0;

  background-color: var(--theme--surface--color);
  color: var(--theme--text--Color);

  box-shadow: 0 0 10px 0 color-mix(in sRGB, var(--theme--text--Color) 10%, transparent);
  border-radius: var(--border-radius);
  margin-block-start: -1em;
  margin-block-end: 1em;
  margin-inline: -5px;
  z-index: 100;

  a {
    color: inherit;
  }

  :is(summary, strong) {
    font-weight: var(--theme--FontWeight--extra-bold);
  }

  summary {
    background-color: color-mix(in sRGB, var(--theme--ui--Color) 10%, var(--theme--surface--color));
    cursor: pointer;
    padding: 10px 1rem;

    /* Pin the custom marker to the container */
    position: relative;
    /* Register summary as an anchor element */
    anchor-name: --summary;

    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: "";
    }

    &::before,
    &::after {
      /* Custom marker dimensions */
      content: "";
      border-block-start: 3px solid var(--theme--ui--Color);
      height: 0;
      width: 1rem;

      /* Positions the lines */
      inset-block-start: 50%;
      inset-inline-end: 1rem;

      /* Anchor the shape to the summary */
      position: absolute;
      position-anchor: --summary;
      /* stylelint-disable-next-line declaration-property-value-no-unknown */
      position-area: top end;
    }

    /* Rotate just the ::after line to create a "+"" shape */
    &::after {
      transform: rotate(90deg);
      transform-origin: 50%;
    }
  }

  &[open] {
    summary {
      border-block-end: 1px solid var(--theme--ui--Color);
    }

    summary::after {
      transform: rotate(0deg);
    }
  }

  .toc {
    max-block-size: 90vh;
    padding: var(--spacing--vertical) 1rem;
    overflow-y: auto;

    ol {
      padding-inline-start: 20px;
      list-style-type: none;

      &:first-child {
        padding-inline-start: 0;
      }

      &:first-child>li>a {
        font-weight: var(--theme--FontWeight--bold);
        line-height: 1.8;
      }
    }
  }
}

iframe {
  aspect-ratio: 16 / 9;
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: auto;
  inline-size: 100%;
}

/* @todo: combine all the cta styling found below */
.cta {
  -webkit-appearance: button;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--theme--text--LineHeight);
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: inline-block;

  a {
    font-family: var(--theme--heading--FontFamily);
    font-size: 1em;
    color: var(--theme--link--Color);

    &:visited {
      color: var(--theme--link--Color);
    }

    &:hover {
      color: var(--theme--link--Color--hover);
    }

    &:focus {
      color: var(--theme--link--Color--focus);
    }

    &:active {
      color: var(--theme--link--Color--active);
    }

    &:focus-visible {
      outline: 2px solid var(--theme--link--Color--focus);
      outline-offset: var(--outline-offset, 4px);
      border-radius: calc(var(--border-radius) / 2);
    }
  }
}

.cta-link {
  &::after {
    display: inline-block;
    content: '↬';
    margin-inline-start: 0.25em;
    transition: transform 0.2s ease-in-out;
  }

  &:is(:hover, :focus, :focus-visible) {
    &::after {
      transform: translateX(0.25em);
    }
  }
}

.cta-button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: var(--theme--ui--Color);
  background: var(--theme--surface--color);
  color: inherit;

  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  text-decoration: none;
  margin: 0;
  cursor: pointer;

  &:hover {
    background: var(--theme--ui--Color--hover);
  }

  &:is(:focus, :focus-visible) {
    background: var(--theme--ui--Color--active);

    &:is(.active,[aria-current]) {
      outline-offset: var(--outline-offset);
    }
  }

  &:focus-visible {
    outline: var(--outline-width) solid var(--theme--ui--Color--active);
    outline-offset: var(--outline-offset, var(--outline-width));
    border-radius: var(--border-radius);
  }

  &:active {
    background-color: var(--theme--ui--Color--active);
  }
}
