@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "theme.css";

html {
  backface-visibility: hidden;

  scroll-snap-type: y mandatory;
  scroll-padding-block-start: var(--sticky--Height, 20px);
  scroll-behavior: smooth;

  /* todo: can we determine the height of the TOC dynamically? */
  &:has(.sticky) {
    scroll-padding-block-start: var(--theme--container--Height--sticky, 70px);
  }
}

/* Stylized highlight for selected text */
::selection {
    background: color-mix(in hsl, var(--theme--surface--color--accent) 80%, transparent);
    border-radius: 0.25rem;
    color: var(--theme--text--Color);
}

:is(a:not([class])) {
  text-decoration: none;
  font-weight: var(--theme--FontWeight);
  color: var(--theme--link--Color);

  &:has(img) {
    /* Ensures the link fits to the image and has the correct aspect ratio */
    display: flex;
    aspect-ratio: var(--aspect-ratio, 1 / 1);
    inline-size: var(--image-size, 250px);
  }

  &:hover {
    text-decoration: underline;
    color: var(--theme--link--Color--hover);
  }

  &:focus,
  &:focus-visible {
    text-decoration: underline;
    color: var(--theme--link--Color--focus);
  }

  &[name]:not([href]) {
    color: inherit;
  }

  &[aria-current="page"] {
    color: inherit;
    font-weight: var(--theme--FontWeight--semi-bold);
    text-decoration: underline;
  }

  img {
    cursor: pointer;
  }

  &:is(:focus, :focus-visible) {
    outline: 1px solid var(--theme--ui--Color--active);
    outline-offset: var(--theme--OutlineOffset, 1px);
    border-radius: var(--theme--BorderRadius);
  }
}

:is(p) {
  font-size: inherit;
  font-weight: var(--theme--FontWeight);
  line-height: var(--theme--text--LineHeight);

  margin: 0;

  :is(b, strong) {
    font-weight: var(--theme--FontWeight--semi-bold);
  }

  &:is(.extra) {
    font-size: 1.2em;

    :is(b, strong) {
      font-weight: var(--theme--FontWeight--medium);
    }
  }
}

:is(h1, h2, h3, h4, h5, h6),
:is(.title, .headline) {
  font-family: var(--theme--heading--FontFamily);
  color: var(--theme--heading--Color);
  line-height: var(--theme--heading--LineHeight);

  margin-block: 0;

  &:where(.accent) {
    color: var(--theme--heading--Color--accent);
  }

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration-color: color-mix(in sRGB, var(--theme--ui--Color--subtle), black 20%);
    text-decoration-style: solid;
    text-decoration-line: underline;

    &:hover {
      color: var(--theme--link--Color--hover);
      text-decoration-color: var(--theme--link--Color--hover);
    }

    &:where(:focus, :focus-visible) {
      color: var(--theme--link--Color--focus);
      text-decoration: none;
    }
  }
}

:is(img, embed, object, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:is(p>code, li>code) {
  background: var(--theme--surface--color);
  color: var(--theme--text--Color);

  font-size: var(--theme--code--FontSize);
  font-weight: var(--theme--FontWeight);
  line-height: inherit;

  border: var(--theme--BorderWidth--thin) solid var(--theme--ui--Color--subtle);
  border-radius: var(--theme--BorderRadius);
  padding: .2em .4em;
}

:is(ul, ol) {
  margin: 0;

  &:not(:last-child) {
    margin-block-end: 1.5em;
  }
}

:is(li) {
  font-size: 1rem;
  margin: 0;
  line-height: 1.44;
}

:is(li:has(b, strong):not(:last-child)) {
  margin-block-end: .2em;
}

:is(li b, li strong) {
  text-decoration: solid underline var(--theme--ui--Color);
  text-decoration-thickness: var(--theme--BorderWidth);

  font-size: .9rem;
  font-weight: var(--theme--FontWeight--medium);
}

:is(img) {
  aspect-ratio: var(--aspect-ratio, 1 / 1);
  inline-size: var(--image-size, 250px);
  block-size: auto;

  border-radius: var(--image--BorderRadius, var(--theme--BorderRadius));
  border: var(--image--BorderWidth, 0) solid var(--image--BorderColor, var(--theme--ui--Color--subtle));
}

:is(iframe) {
  /* Fill the container */
  inline-size: var(--video--Width, 100%);

  /* Maintain the aspect ratio if specified */
  block-size: auto;

  &:where([src*="youtube.com"]) {
    aspect-ratio: 16 / 9;
  }
}

body {
  position: relative;
  margin: 0;

  color: var(--theme--text--Color);

  font-family: var(--theme--text--FontFamily);
  line-height: var(--theme--text--LineHeight);
  font-optical-sizing: auto;

  font-size: 18px;

  scroll-snap-type: y mandatory;
  scroll-padding-block-start: var(--sticky--Height, 20px);
  scroll-behavior: smooth;

  overflow-y: auto;
  overflow-x: hidden;


  min-block-size: 100vh;

  display: flex;
  flex-flow: column nowrap;

  &::before {
    --grid-size: 40px;

    content: "";
    display: block;
    position: fixed;
    inset: 0;
    z-index: -1;

    inline-size: 100vw;
    block-size: 100vh;
    background-color: transparent;

    background-size: var(--grid-size) var(--grid-size);
    background-image: linear-gradient(to right, var(--theme--surface--color) 1pt, transparent 1pt), linear-gradient(to bottom, var(--theme--surface--color) 1pt, transparent 1pt);
  }

  >main {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
  }

  /* note: reduce base font size for print */
  @media print {
    font-size: 14px;
  }
}

#background {
  inline-size: 100vw;
  block-size: auto;
  position: fixed;
  inset: 0;
  z-index: 0;
}

#logo {
  transform-origin: center;

  &:is(:hover) .swirl {
    transition: transform 1s;
    transform: translateX(-5px) translateY(-5px) rotate(360deg);
  }
}

.masthead {
  --image-size: min(calc(80px + 5cqi), 120px);
  --image--BorderRadius: var(--theme--BorderRadius--circle);

  --band--Width: var(--theme--content--MaxWidth);
  --band--body--Direction: column;
  --band--body--Wrap: nowrap;
  --band--body--Gap--vertical: 0;
  --band--body--JustifyContent: start;
  --band--body--AlignItems: start;
  --band--footer--Direction: row;
  --band--footer--Wrap: nowrap;
  --band--footer--Gap--vertical: 0;
  --band--footer--JustifyContent: space-between;
  --band--footer--AlignItems: center;
  --band--AlignItems: start;

  /* Note: this is the mobile-first layout */
  --band--Grid--areas: "header body" "header body" "footer footer";
  --band--Grid--columns: var(--image-size) 1fr;
  --band--Grid--rows: auto auto auto;

  z-index: 1000;

  :is(a:first-child) {
      margin-block: calc(var(--theme--content--space) * -2);
      max-inline-size: var(--image-size);
  }

  @media screen and (width >= 1200px) {
    --band--Grid--areas: "header body" "header body" "header footer";
  }

}

:is(.title) {
  font-family: var(--theme--heading--FontFamily);
  font-size: var(--title--FontSize, 1.1rem);

  font-weight: var(--theme--FontWeight--semi-bold);
  line-height: var(--title--LineHeight, var(--theme--heading--LineHeight));
  text-transform: var(--title--TextTransform, uppercase);
  padding: var(--title--Padding, 0);

  inline-size: max-content;
  max-inline-size: 100%;

  &:is(.highlight) {
    position: relative;
    padding-inline-start: .5rem;
    transform-origin: left;

    &::before {
        content: "";
        display: block;
        inline-size: 100cqi;
        block-size: 2rem;
        background: var(--theme--surface--color--accent);
        position: absolute;
        z-index: -1;
        pointer-events: none;
        inset-inline-end: -0.5rem;
        inset-block-start: -0.25rem;

        @media (prefers-color-scheme: dark) {
          background: none;
          border-block-end: 5px solid var(--theme--ui--Color);
          inset-block-end: -.2em;
        }

        @media not (prefers-reduced-motion: reduce) {
          @supports (animation-timeline: scroll()) {
            animation: var(--animation, roll-in) linear both;
            animation-timeline: view();
            animation-range: 0 30vh;
          }

          @supports not (animation-timeline: scroll()) {
            animation: var(--animation, roll-in) .8s linear forwards;
          }
        }
    }

    a {
      text-decoration-color: color-mix(in hsl, var(--theme--ui--Color) 80%, transparent);
    }
  }

  @container box {
    display: inline-block;

    padding: var(--title--Padding, .1rem var(--theme--content--space));
    background: var(--title--Background, color-mix(in srgb, var(--theme--ui--Color) var(--title--Opacity, 10%), var(--theme--surface--color)));
    inline-size: min(var(--title--InlineSize, var(--theme--content--MaxWidth)), 100%);
    border-radius: var(--theme--BorderRadius);
  }

  @container card {
    --title--FontSize: .8rem;
  }
}

:is(.headline) {
  font-family: var(--theme--heading--FontFamily);
  font-size: var(--headline--FontSize, 2rem);
  font-weight: var(--theme--FontWeight--light);
  line-height: var(--theme--text--LineHeight);

  @container box (width <= 500px) {
    --headline--FontSize: 1.4rem;
  }

  @media (prefers-color-scheme: dark) {
    font-weight: var(--theme--FontWeight);
  }

  &:has(+ p) {
    margin-block-end: .5rem;
  }
}

:is(.headline-summary) {
  font-family: var(--theme--heading--FontFamily);
  font-size: 1.4em;
  font-weight: var(--theme--FontWeight--light);
  line-height: var(--theme--text--LineHeight);

  @container box (width <= 500px) {
    font-size: 1.2em;
    font-weight: var(--theme--FontWeight);
  }
}

:where(.content) {
  max-inline-size: 80ch;

  :is(p:not(:last-child, :last-of-type)) {
    margin-block-end: 1rem;
  }
}

:is(.signature) {
    font-family: var(--theme--text--FontFamily--signature);
    font-size: 1.2rem;
    font-weight: var(--theme--FontWeight--medium);

    :is(b, strong) {
      font-weight: var(--theme--FontWeight--bold);
    }
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

svg {
  inline-size: 100%;
  block-size: auto;
  min-block-size: 2.5em;
  fill: currentColor;
  align-self: center;
}

hr {
  border: none;
  border-block-start: 2px solid var(--theme--ui--Color);
  inline-size: 100%;
}

blockquote {
  box-sizing: border-box;
  position: relative;

  font-size: .9em;

  background-color: color-mix(in sRGB, var(--theme--ui--Color) 10%, var(--theme--surface--color));
  border-inline-start: 4px solid var(--theme--ui--Color);
  border-radius: var(--theme--BorderRadius);

  padding: 1rem;
  inline-size: min(100%, max-content);
  max-inline-size: calc(100% - 2rem);
  margin-block-start: 2em;
  margin-inline-start: 0;

  /* below: fallback for older browsers */
  &:is(h1, h2, h3, h4, h5, h6):first-child {
    padding-block-start: 2.5rem;
  }

  strong {
    font-weight: var(--theme--FontWeight--extra-bold);
  }

  :is(pre, code) {
    max-inline-size: 100%;
    overflow-x: auto;
  }

  /* todo: add details about why the h4 has special styling */
  h4 {
    position: absolute;
    display: inline-block;
    font-size: 1.1rem;
    inset-block-start: -.4rem;
    inset-inline-start: .8rem;
    margin: 0;
    background-color: var(--theme--surface--color--accent);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0 var(--theme--BorderRadius) 0 var(--theme--BorderRadius);
    box-shadow: 0 0 .8rem 0 color-mix(in sRGB, var(--theme--text--Color) 10%, transparent);
  }
}

/* todo: add note about where this is used */
.metadata {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--theme--content--space) / 2);
  inline-size: 100%;

  .author:has(+ .date)::after {
    content: '•';
    display: inline-block;
    margin-inline-start: var(--theme--content--space);
    color: inherit;
  }

  @media screen and (width <= 768px) {
    .date {
      flex-grow: 1;
      margin-inline-end: 2em;
    }
  }

  .cta {
    flex-grow: 1;
    text-align: end;
    margin-inline: 0.5em;

    @media screen and (width <=768px) {
      text-align: start;
      margin-inline-start: 0;
    }
  }
}

.date {
  font-weight: var(--theme--FontWeight--light);
}

.sticky {
  container-type: scroll-state;
  position: sticky;
  inset-block-start: 0;

  z-index: 100;

  @container scroll-state(stuck: top) {
    background-color: lime;
  }
}

details {
  background-color: var(--theme--surface--color);
  color: var(--theme--text--Color);
  border-radius: var(--theme--BorderRadius);
  inline-size: var(--theme--content--MaxWidth);
  max-inline-size: 100%;

  summary {
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    list-style: none;

    background-color: var(--theme--surface--color--emphasis);

    /* Pin the custom marker to the container */
    position: relative;

    container-type: size;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      /* Custom marker dimensions */
      --details--marker--size: 2px;

      content: "";

      display: inline-block;
      border-width: 0 var(--details--marker--size) var(--details--marker--size) 0;
      border-style: solid;

      inline-size: .5rem;
      block-size: .5rem;

      transition: .3s;
      transform: rotate(45deg);
    }
  }

  &:where([open]) summary::after {
    transform: rotate(-135deg);
  }
}

:is(.shadow) {
  box-shadow: var(--theme--container--shadow) var(--theme--container--shadow-color), var(--theme--container--shadow--light) var(--theme--container--shadow-color--light);
}

/* Used in posts and proposals */
details:is(.table-of-contents) {
  nav {
    padding: var(--theme--content--space) 1rem 1rem;
    overflow-y: auto;

    /* todo: style the scroller? */

    :is(ol, ul) a {
      color: var(--theme--text--Color);
    }

    ol {
      padding-inline-start: 1rem;
      list-style-type: none;

      &:first-child {
        padding-inline-start: 0;
      }

      &:first-child>li>a {
        font-weight: var(--theme--FontWeight--bold);
        line-height: var(--theme--LineHeight);
      }
    }
  }
}

#services {
    --band--body--AlignItems: stretch;
    --band--body--Width: 100%;
    --card--Width: min(50ch, 100%);
    --card--BorderRadius: 8px;
    --card--Gap--vertical: calc(var(--theme--content--space) * 2);

    @container box (inline-size <= 992px) {
        --card--Width: min(calc(var(--theme--content--MaxWidth) / 2), 100%);

        font-size: .9em;
    }
}

#intro {
  --band--Background: color-mix(in srgb, var(--theme--surface--color) 90%, transparent);

  font-size: 1.2em;

}

#consulting {
  --band--body--AlignItems: stretch;

  .bio {
      border: var(--theme--BorderWidth--thin) solid var(--theme--ui--Color--subtle);
      box-shadow: 5px 5px 10px 0 color-mix(in srgb, var(--theme--text--Color) 10%, transparent);
      border-radius: var(--theme--BorderRadius);

      padding: var(--theme--container--space);
      padding-block-end: calc(var(--theme--container--space) * 2);
      background-color: color-mix(in srgb, var(--theme--surface--color) 80%, transparent);
      margin-block-start: var(--theme--content--space);

      &:not(:first-of-type) {
          margin-block-start: calc(var(--theme--content--space) * 2);
      }

      .headline-summary {
          font-size: 1.2em;
      }

      .container {
          --card--Width: 250px;
          --card--BorderRadius: 2rem 0;

          border-block-start: var(--theme--BorderWidth--thin) solid var(--theme--ui--Color--subtle);
          padding-block-start: var(--theme--container--space);
          display: flex;
          flex-flow: row wrap;
          gap: var(--theme--content--space);
          align-items: start;

          a-card {
              text-align: center;

              [slot="footer"] {
                  border-block-start: var(--theme--BorderWidth--thin) solid color-mix(in srgb, var(--theme--ui--Color) 20%, transparent);
                  padding-block-start: var(--theme--content--space);
                  inline-size: 80cqi;
                  margin-inline: auto;
              }
          }

          .content {
              flex-grow: 1;
              inline-size: calc(100% - var(--card--Width) - var(--theme--content--space) * 2);
              min-inline-size: min(50ch, 100%);
          }
      }
  }

  .projects,
  .presentations {
      --card--Width: 365px;

      inline-size: 100%;
      padding-block-start: calc(var(--theme--container--space) * 2);

      [layout="row"] {
          padding-block-start: var(--theme--content--space);
          font-size: .8em;

          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(var(--card--Width), 1fr));
          gap: var(--theme--content--space);
      }
  }

  .presentations {
      --card--Width: 200px;
  }
}

#contact {
  --band--footer--Direction: row;
  --band--footer--AlignItems: center;
  --band--footer--JustifyContent: space-between;
  --image-size: 180px;
}

#cta {
  --band--body--Wrap: nowrap;
  --band--body--Width: auto;
  --image-size: 200px;

  a-note {
    align-self: center;
  }
}

/* @todo: combine all the cta styling found below */
.cta {
  -webkit-appearance: button;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--theme--text--LineHeight);
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: inline-block;

  a {
    font-family: var(--theme--heading--FontFamily);
    font-size: 1em;
    color: var(--theme--link--Color);

    &:hover {
      color: var(--theme--link--Color--hover);
    }

    &:focus {
      color: var(--theme--link--Color--focus);
    }

    &:active {
      color: var(--theme--link--Color--active);
    }

    &:focus-visible {
      outline: 2px solid var(--theme--link--Color--focus);
      outline-offset: var(--theme--OutlineOffset, 4px);
      border-radius: calc(var(--theme--BorderRadius) / 2);
    }
  }
}

.cta-link {
  &::after {
    display: inline-block;
    content: '↬';
    margin-inline-start: 0.25em;
    transition: transform 0.2s ease-in-out;
  }

  &:is(:hover, :focus, :focus-visible) {
    &::after {
      transform: translateX(0.25em);
    }
  }
}

:is(.cta-button) {
  /* prevent the button from stretching if inside a flex container */
  align-self: start;

  display: inline-block;
  border-width: var(--theme--BorderWidth--thin);
  border-style: solid;
  border-color: var(--theme--ui--Color);
  background: var(--theme--surface--color);
  color: inherit;

  padding: 0.5em 1em;
  border-radius: var(--theme--BorderRadius);
  text-decoration: none;
  margin: 0;
  cursor: pointer;

  &:hover {
    background: var(--theme--ui--Color--hover);
  }

  &:is(:focus, :focus-visible) {
    background: var(--theme--ui--Color--active);

    &:is(.active,[aria-current]) {
      outline-offset: var(--theme--OutlineOffset);
    }
  }

  &:focus-visible {
    outline: var(--theme--Outline) solid var(--theme--ui--Color--active);
    outline-offset: var(--theme--OutlineOffset, var(--theme--Outline));
    border-radius: var(--theme--BorderRadius);
  }

  &:active {
    background-color: var(--theme--ui--Color--active);
  }
}


/* Custom code styling */
:is(pre) {
  border: var(--theme--BorderWidth--thin) solid var(--theme--ui--Color--subtle);
}

:is(pre[class*="language-"]) {
  font-family: var(--theme--code--FontFamily) !important;
  font-size: var(--theme--code--FontSize) !important;
  padding: var(--theme--content--space) !important;

  .token.operator {
    color: inherit;
    background-color: color-mix(in hsl, var(--theme--ui--Color--subtle) 10%, transparent);
  }
}


:is(.line-numbers) {
  --line-number-width: 3ch;

  pre {
    position: relative;
    counter-reset: line-number;

    padding-inline-start: calc(var(--theme--content--space) + var(--line-number-width));
  }

  /* adjust as needed */
  &:has(.line-numbers-row:nth-child(10)) {
    --line-number-width: 4ch;
  }

  &:has(.line-numbers-row:nth-child(100)) {
    --line-number-width: 5ch;
  }

  .line-numbers-row {
    position: absolute;
    pointer-events: none;
    inset-block-start: 0;
    font-size: 100%;
    inset-inline-start: calc(var(--line-number-width) * -1);
    inline-size: var(--line-number-width);
    letter-spacing: -1px;
    border-inline-end: var(--theme--BorderWidth--thin) solid var(--theme--ui--Color--subtle);
    user-select: none;

    span {
      display: block;
      counter-increment: line-number;

      &::before {
        content: counter(line-number);
        display: block;
        color: var(--theme--ui--Color--subtle);
        min-inline-size: 4ch;
        padding-inline-end: var(--theme--content--space);
      }
    }
  }
}

/* Custom styles for Prism Toolbar plugin */
:is(.code-toolbar) {
  background-color: var(--prism-default-background);

  border: var(--theme--BorderWidth--thin) solid var(--theme--ui--Color--subtle);
  border-radius: var(--theme--BorderRadius);

  display: grid;
  grid-template-areas: "code" "toolbar";
  grid-template-rows: 1fr auto;
  gap: 0;

  > * {
    background-color: transparent !important;
    margin: 0 !important;
    border-width: 0 !important;

    &:first-child {
      margin-block-start: 0;
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      border-block-end-width: 0;
    }

    &:last-child {
      border-end-start-radius: var(--theme--BorderRadius);
      border-end-end-radius: var(--theme--BorderRadius);
      border-block-start-width: 0 !important;
    }
  }

  > pre[class*="language-"] {
    grid-area: code;
  }

  .toolbar {
    grid-area: toolbar;

    padding: calc(var(--theme--content--space) * .5) var(--theme--content--space) !important;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    gap: var(--theme--content--space);
    overflow: hidden;

    .toolbar-item {
      margin: 0 !important;
    }
  }

  :is(.copy-to-clipboard-button) {
    display: inline-grid;
    place-items: center;
    border-width: var(--theme--BorderWidth--thin);
    border-style: solid;
    border-color: color-mix(in hsl, currentColor, transparent 60%);
    background-color: color-mix(in hsl, var(--prism-default-background), var(--theme--surface--color) 10%) !important;
    color: var(--theme--text--Color) !important;
    font-size: 1rem !important;

    padding: .5rem !important;
    border-radius: var(--theme--BorderRadius) !important;
    text-decoration: none;
    margin: 0 !important;
    cursor: pointer;

    &:hover {
      border-color: var(--theme--ui--Color);
      background-color: color-mix(in hsl, var(--prism-default-background), var(--theme--surface--color) 30%) !important;
    }

    &:is(:focus, :focus-visible) {
      outline: var(--theme--Outline) solid var(--theme--ui--Color);
      outline-offset: var(--theme--OutlineOffset);
    }
  }
}

/* Scroll-triggered accent bar animation */
@keyframes roll-in {
  0% {
      opacity: 0;
      transform: translateX(calc(100% * var(--animation-direction, -1)));
  }

  20% {
      opacity: 1;
  }

  100% {
      transform: translateX(0%);
  }
}
