---
layout: base
date: Last Modified
priority: "1.0"
eleventyNavigation:
  key: Home
  order: 1
---

{% block masthead %}
    {% include "masthead.njk" %}
{% endblock %}

<main id="main-content" aria-label="Main content" tabindex="-1">
    <a-band id="about">
        <a-card bordered featured class="accent--blue">
            <div class="content">
                <p class="headline-summary">Allons-y (<em>ah-lo(n)-zee</em>) is an idiomatic French expression meaning roughly, <strong><em>&ldquo;Let's go!&rdquo;</em></strong></p>
                <p>That's exactly the energy we bring to design systems work. We help organizations build front-end infrastructure that empowers teams—transforming design vision into production-ready code while establishing the workflows that make collaboration seamless.</p>
                <p>With expertise from Adobe, Red Hat, and the W3C CSS Working Group, we deliver enterprise-scale solutions that balance innovation with accessibility, performance, and developer experience. In addition to our technical expertise, we have available an experienced project manager with extensive government and banking experience, managing projects large and small from start to finish.</p>
            </div>
            <p><a class="cta-link" href="{{ '/about/' | url }}">Learn more about us</a></p>
        </a-card>
    </a-band>

    {% if services.length > 0 %}
    <a-band id="services" thick class="accent--yellow">
        {% for service in services %}
        <a-card bordered overflow>
            <h2 class="title" slot="header" id="{{ service.category | url }}-{{ loop.index }}">{{ service.category }}</h2>
            <div class="content">
                <p>{{ service.description }}</p>
            </div>
        </a-card>
        {% endfor %}
        <a-card bordered featured overflow class="contact-card accent--reset">
            <h2 class="title" slot="header">Let's talk</h2>
            <div class="content" style="--image-url: url({{ 'img/cartoon-thinking.png' | imgSrc }})">
                {% image "img/cartoon-thinking.png", "A cartoon of the author, Cassondra Roberts, thinking about the future of the web.", [180, 180] %}
                <p>To discuss what we can do together, please email us at <a href="mailto:{{ site.contact.email }}">consulting@allons-y.llc</a>.</p>
            </div>
        </a-card>
    </a-band>
    {% endif %}

    {% set accent="blue" %}
    {% include "cta-band.njk" %}

    <a-band id="posts" thin>
        <h2 class="title highlight" slot="header"><a href="{{ '/posts/' | url }}" title="View all posts">Posts</a></h2>
        {% for article in collections.posts | featured | reverse %}
        <a-card bordered style="--card--header--Gap--vertical: 0;">
            <h3 class="headline accent" slot="header"><a href="{{ article.url | validateURL }}">{{ article.data.title }}</a></h3>
            <p class="date" slot="header">{{ article.data.date | long }}</p>
            {% if article.data.description %}<p class="content" style="margin-block: .5em;">{{ article.data.description }}</p>{% endif %}
            {% if article.data.tags.length > 0 %}<tag-group tags="{{ article.data.tags | join(',') }}" labeled url="{{ '/posts/' | validateURL }}" filters slot="footer"></tag-group>{% endif %}
        </a-card>
        {% endfor %}
    </a-band>

    <!-- Recorded talks -->
    <a-band id="presentations" thick class="accent--blue">
        <h2 class="title highlight" slot="header"><a href="{{ '/presentations/' | url }}">Presentations</a></h2>
        <a-card slot="header" full>
            <p class="header-summary">Presentations or interviews I've given at various events, conferences, podcasts, and streams.</p>
            <p class="header-summary">Connecting with individuals and organizations to share my knowledge and experiences is one of my favorite parts of my job. I'd love to hear about your event or podcast to see how we can work together. <a href="mailto:{{ site.contact.email }}">Email me</a> to discuss your needs.</p>
        </a-card>

        {% for presentation in presentations | featured %}
            {% include "video-card.njk" %}
        {% endfor %}
    </a-band>
</main>
