---
layout: base
isListing: true
eleventyNavigation:
  key: Writing
  order: 3
---

{% block masthead %}
    {% include "_masthead.njk" %}
{% endblock %}

<a-band id="post-listing" thick>
    <h2 class="title" slot="header">Posts</h2>
    {% for article in collections.posts | reverse %}
    {% if article.data.title %}
        <a-card bordered>
            <div slot="header">
                <p class="date">{{ article.data.date | long }}</p>
                <h3 class="headline accent"><a href="{{ article.url }}">{{ article.data.title }}</a></h3>
            </div>
            <p class="content">{{ article.data.description }}</p>
            {% if article.data.tags.length > 0 %}<tag-group tags="{{ article.data.tags | join(',') }}" labeled slot="footer"></tag-group>{% endif %}
        </a-card>
    {% endif %}
    {% endfor %}
    <a-note slot="footer">
        <p>Available for full-time, consulting, speaking, writing, or workshops.</p>
        <p><a class="cta-link" href="{{ site.contact.scheduler }}">Book a free call</a></p>
    </a-note>
    <div slot="footer"><img src="../img/cartoon-thinking.png" alt="A cartoon of the author, Cassondra Roberts, thinking about the future of the web."></div>
</a-band>
