---
layout: base
masthead: true
isListing: true
eleventyNavigation:
  key: Presentations
  order: 4
---

<a-band full id="presentation" center>
    <h2 class="title" slot="header">Presentations</h2>
    <a-card bordered slot="header">
        <div class="content">
            <p>Below are some of the presentations or interviews I've given at various events, conferences, podcasts, and streams over the years.</p>
            <p>Connecting with individuals and organizations to share knowledge and experience is one of my favorite parts of this work. I'd love to hear about your event or podcast to see how we can work together.</p>
        </div>
        <a class="cta-button" slot="footer" target="_blank" href="https://fantastical.app/cassondra/inquiries">Book a free call</a>
        </div>
    </a-card>
    {% for presentation in presentations %}
        <a-card bordered video overflow>
            {% if presentation.youtube_id %}
            <iframe class="video" src="https://www.youtube.com/embed/{{ presentation.youtube_id }}" frameborder="0" allowfullscreen slot="header" title="{{ presentation.description }}"></iframe>
            {% endif %}
            <div class="content">
                <h3 class="title">{{ presentation.title }}</h3>
                <h4 class="headline"><a :href="`https://www.youtube.com/embed/${presentation.youtube_id}`"
                        title="Click to watch this interview">{{ presentation.headline }}</a></h4>
                <p>{{ presentation.description }}</p>
                {% if presentation.resources %}
                <p class="cta">
                    {% for resource in presentation.resources %}
                    <a class="cta-link" target="_blank" href="{{ resource.url }}">{{ resource.cta }}</a>
                    {% endfor %}
                </p>
                {% endif %}
                {% if presentation.tags.length > 0 %}<tag-group tags="{{ presentation.tags | join(',') }}" labeled slot="footer"></tag-group>{% endif %}
            </div>
        </a-card>
    {% endfor %}
</a-band>

<a-band thin>
    <a-note style="align-self: center"></a-note>
</a-band>
