---
layout: base
masthead: true
eleventyNavigation:
  key: Presentations
  order: 4
---

<style>
    #presentation {
        div[slot="header"] {
            --spacing--vertical: .5em;

            margin-block-end: 2em;
        }

        div[slot="footer"] {
            display: flex;
            margin-block-start: 1em;
            justify-content: end;
        }

        tag-group {
            font-size: .8em;
        }
    }
</style>

<a-band width="full" id="presentation">
    <div slot="header">
        <h2 class="title">Presentations</h2>
        <a-card bordered>
            <p class="header-summary">Below are some of the presentations or interviews I've given at various events, conferences, podcasts, and streams over the years.</p>
            <p class="header-summary">Connecting with individuals and organizations to share knowledge and experience is one of my favorite parts of this work. I'd love to hear about your event or podcast to see how we can work together.</p>
            <div slot="footer">
                <a class="cta cta-button" target="_blank" href="https://fantastical.app/cassondra/inquiries">Book a free call</a>
            </div>
        </a-card>
    </div>
    {% for presentation in presentations %}
        <a-card bordered layout="video-content">
            {% if presentation.youtube_id %}
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/{{ presentation.youtube_id }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
            <div class="content">
                <h3 class="title">{{ presentation.title }}</h3>
                <h4 class="headline"><a :href="`https://www.youtube.com/embed/${presentation.youtube_id}`"
                        title="Click to watch this interview">{{ presentation.headline }}</a></h4>
                <p>{{ presentation.description }}</p>
                {% if presentation.resources %}
                <p class="cta">
                    {% for resource in presentation.resources %}
                    <a class="cta-link" target="_blank" href="{{ resource.url }}">{{ resource.cta }}</a>
                    {% endfor %}
                </p>
                {% endif %}
                {% if presentation.tags.length > 0 %}<tag-group tags="{{ presentation.tags | join(',') }}" labeled></tag-group>{% endif %}
            </div>
        </a-card>
    {% endfor %}
</a-band>

<a-band padding="half">
    <a-note style="align-self: center"></a-note>
</a-band>

{% js %}
   import '/js/components/a-band.js';
   import '/js/components/a-card.js';
   import '/js/components/a-note.js';
   import '/js/components/tag-group.js';
{% endjs %}