---
layout: listing
title: Proposals
key: proposals
eleventyExcludeFromCollections: true
---

<p class="header-summary">These are proposals for talks and workshops I've given or would like to give. <a href="mailto:{{ site.contact.email }}">Let's get in touch</a> if you're interested in discussing having one of these proposals presented at your event.</p>
