---
layout: base
isListing: true
eleventyExcludeFromCollections: true
---

{% block masthead %}
    {% include "_masthead.njk" %}
{% endblock %}

<a-band full id="proposals" thick grid>
    <h2 class="title" slot="header">Proposals</h2>
    <p class="header-summary" slot="header">These are proposals for talks and workshops I've given or would like to give. <a href="mailto:{{ site.contact.email }}">Let's get in touch</a> if you're interested in discussing having one of these proposals presented at your event.</p>
    {% for proposal in collections.proposals %}
        <a-card bordered>
            <h3 class="headline accent" slot="header"><a href="{{ proposal.url }}">{{ proposal.data.title }}</a></h3>
            <p>{{ proposal.data.description }}</p>
            {% if proposal.data.tags.length > 0 %}<tag-group tags="{{ proposal.data.tags | join(',') }}" labeled slot="footer"></tag-group>{% endif %}
        </a-card>
    {% endfor %}
</a-band>

{% include "_cta-band.njk" %}
