---
eleventyExcludeFromCollections: true
permalink: "sitemap.xml"
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:news="http://www.google.com/schemas/sitemap-news/0.9"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0"
    xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
    xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
    {# Priority values:
        0 – 0.3: Old news posts, outdated guides, irrelevant pages you nevertheless don't want to delete, merge, or update.
        4 – 0.7: Articles, blog posts, category pages, FAQs, system pages. The bulk of your site's content falls into this range.
        8 – 1.0: Extremely important content, such as your homepage, major category pages, product pages, and subdomain indexes.
    #}
    {% for item in collections.all %}
    {% if item.data.indexed != true  %}
    {% set isPost = collections.posts | getCollectionItem(item.page) %}
    {% set isListing = collections.listing | getCollectionItem(item.page) %}
    <url>
        <loc>{{ site.url }}{{ item.page.url }}</loc>
        <lastmod>{{ item.page.date | toISOString }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>
            {% if item.data.priority %}{{ item.data.priority }}{% else %}
            {% if isPost or isListing %}0.8{% else %}0.9{% endif %}
            {% endif %}
        </priority>
    </url>
    {% endif %}
    {% endfor %}
</urlset>
