---
layout: general
classes:
  - post
---

<pfe-band>
    <h1 class="pfe-title--6xl" slot="pfe-band--header">{{ title }}</h1>
    <article class="pfe-c-content">
        {{ content | safe }}
    </article>
</pfe-band>
