---

customSheets:
  - theme
  - animation
  - core
  - prism-overrides
  - home
customScripts:
  - home
---

{% extends "./foundation.njk" %}

{% block background %}
{% include "../pages/assets/background.svg" %}
{% endblock %}

{% block header %}
    {{ header | safe }}
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% block footer %}
<a-band id="contact" full thin>
    <div slot="footer">{% include "icon-group.njk" %}</div>
    <div slot="footer">
        {% for funding in site.funding %}
        <a href="{{ funding.url | validateURL }}" {% if funding.ratio %}style="--aspect-ratio: {{ funding.ratio }};"{% endif %} title="{{ funding.label }}">
            {% if funding.img %}{% image funding.img, funding.label %}{% else %}<span>{{ funding.label }}</span>{% endif %}
        </a>
        {% endfor %}
    </div>
</a-band>

{% css %}
#contact {
    --band--footer--Direction: row;
    --band--footer--Wrap: wrap;
    --band--footer--AlignItems: center;
    --band--footer--JustifyContent: space-around;
    --image-size: 180px;
}
{% endcss %}
{% endblock %}
