---

customSheets:
  - theme
  - animation
  - core
  - prism-overrides
  - home
customScripts:
  - home
---

{% extends "./foundation.njk" %}

{% block background %}
{% include "../pages/assets/background.svg" %}
{% endblock %}

{% block header %}
    {{ header | safe }}
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% block footer %}
<a-band id="contact" full thin>
    <div slot="footer">{% include "icon-group.njk" %}</div>
    <div slot="footer" class="funding">
        <p>funding:</p>
        {% for funding in site.funding %}
        <a class="funding-link" href="{{ funding.url | validateURL }}"{% if funding.ratio %} style="--aspect-ratio: {{ funding.ratio }};"{% endif %} title="{{ funding.label }}">
            {% if funding.img %}{% image funding.img, funding.label %}{% elif funding.icon %}<span class="{{ funding.icon }}"></span>{% else %}<span>{{ funding.label }}</span>{% endif %}
        </a>
        {% endfor %}
    </div>
</a-band>

{% css %}
#contact {
    --band--footer--Direction: row;
    --band--footer--Wrap: wrap;
    --band--footer--AlignItems: center;
    --band--footer--JustifyContent: space-around;

    .funding {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5em;

        p {
            font-size: 1rem;
            color: var(--theme--text--Color--subtle);
        }
    }

    .funding-link {
        font-size: 1.2em;
        max-block-size: 1.5rem;
        inline-size: auto;
        display: inline-grid;
        place-items: center;

        span {
            font-size: 1.2em;
        }
    }
}
{% endcss %}
{% endblock %}
