---
customSheets:
  - theme
  - animation
  - core
  - home
customScripts:
  - home
---

{% extends "_layouts/foundation.njk" %}

{% block background %}
{% include "../pages/assets/background.svg" %}
{% endblock %}

{% block header %}
    <a href="#main-content" class="skip-link cta-button">Skip to content</a>
    {{ header | safe }}
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% block footer %}
<a-band id="contact" full thin>
    <div slot="footer">
        {% include "icon-group.njk" %}
    </div>
    <a slot="footer" href="{{ site.funding[0].url }}" {% if site.funding[0].ratio %}style="--aspect-ratio: {{ site.funding[0].ratio }};"{% endif %} title="{{ site.funding[0].label }}">
        {% if site.funding[0].img %}<img src="{{ site.funding[0].img }}" alt="{{ site.funding[0].label }}">{% else %}<span>{{ site.funding[0].label }}</span>{% endif %}
    </a>
</a-band>
{% css %}
#contact {
    --band--footer--Direction: row;
    --band--footer--AlignItems: center;
    --band--footer--JustifyContent: space-between;
    --image-size: min(180px, 100%);

    @media screen and (width <= 612px) {
        --band--footer--Direction: column;
        --band--footer--JustifyContent: center;
        --band--footer--AlignItems: center;
    }
}
{% endcss %}
{% endblock %}
