{% set isPost = collections.posts | getCollectionItem %}

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <meta name="theme-color" content="{{ site.themeColor }}">
    <meta name="color-scheme" content="light dark">

    {% set title_parts = [site.title, title] if (page.url == '/') else [title, site.title] %}
    <title>{{ title_parts | join(' | ') }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta name="keywords" content="{{ keywords or site.keywords }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if indexed != false %}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="yandexbot" content="index, follow">
    {% endif %}

    <!-- Open Graph data -->
    <meta property="og:locale" content="{{ site.language }}" />
    <meta property="og:title" content="{{ title or site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ description or site.description }}">
    <meta property="og:image" content="{{ site.banner | imgSrc('png') | htmlBaseUrl(site.url) }}" />
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="fediverse:creator" content="@castastrophe@front-end.social" />

    {% if isPost %}
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ site.author }}">
    <meta property="article:published_time" content="{{ date | toISOString }}">
    <meta property="article:modified_time" content="{{ date | toISOString }}">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}

    <link rel="icon" href="/favicon.ico" sizes="32×32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicon.svg">

    {% for link in site.socials %}
    <link href="{{ link.url }}" rel="me"/>
    {% endfor %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {# Load custom stylesheets and bundles #}
    <style>
        {% for customSheet in customSheets %}
        @import "{{ '/css/' + customSheet + '.css' | url }}";
        {% endfor %}
        {% if prism %}
        @import "{{ '/css/prism.css' | url }}";
        @import "{{ '/css/prism-one-light.css' | url }}";
        @import "{{ '/css/prism-one-dark.css' | url }}" (prefers-color-scheme: dark);
        {% endif %}

        {% getBundle "css" %}
    </style>

    {# Load Font Awesome #}
    <script src="https://kit.fontawesome.com/42e99b4632.js" crossorigin="anonymous"></script>
</head>

<body>
    {% block background %}{{ background | safe }}{% endblock %}

    {% block header %}{{ header | safe }}{% endblock %}

    {% block content %}{{ content | safe }}{% endblock %}

    <footer>
        {% block footer %}{{ footer | safe }}{% endblock %}

        {# Load Prism and custom scripts #}
        <script type="module">
            {% for customScript in customScripts %}
            import "{{ '/js/' + customScript + '.js' | url }}";
            {% endfor %}
            {% if prism %}
            import "{{ '/js/prism.js' | url }}";
            import "{{ '/js/prism-toolbar.js' | url }}";
            import "{{ '/js/prism-copy-to-clipboard.js' | url }}";
            import "{{ '/js/prism-line-numbers.js' | url }}";
            import "{{ '/js/prism-normalize-whitespace.js' | url }}";
            {% endif %}

            {% getBundle "js" %}
        </script>
    </footer>
</body>

</html>
