---
indexed: false
customSheets:
  - theme
  - animation
  - core
  - resume
eleventyComputed:
  title: "{{ candidate.name }} | Resume"
  description: "{{ resume.tagline }}"
  keywords: "{{ resume.skills | join(',', 'items') }}"
  author: "{{ candidate.name }}"
---

{% extends "_layouts/foundation.njk" %}

{% block header %}
<a href="#main-content" class="skip-link cta-button">Skip to content</a>
{% endblock %}

{% block content %}
<!-- I know, a table layout?! However, it's the only way to ensure that the header appears at the top of every page when printed. -->
<table>
  <thead>
    <tr>
      <th>
        <header id="header" role="banner">
          <div class="photo">
            {% set photoAlt = "A photo of " + candidate.name + ", a red-haired woman with a smile" %}
            {% image "img/cassondra-roberts.png", photoAlt %}
          </div>
          <div>
            <h1 class="candidate-name">
              <span>{{ candidate.name | first }}</span>
              <br/>
              <span>{{ candidate.name | last }}</span>
            </h1>
            {% if resume.tagline %}
            <p class="subtitle">{{ resume.tagline }}</p>
            {% endif %}
          </div>
        </header>
      </th>
    </tr>
  </thead>
  <tbody id="main-content" aria-label="Main content" tabindex="-1" role="main">{{ content | safe }}</tbody>
</table>
{% endblock %}

{% block footer %}
<button type="button" class="print" aria-label="Print to PDF">
  <span class="fa-solid fa-file-pdf" aria-hidden="true"></span>
  <span class="print-button-text">Export</span>
</button>
{% endblock %}

{% js %}
document.addEventListener("DOMContentLoaded", () => {
  // Wire up print button
  const printButton = document.querySelector('button.print');
  printButton?.addEventListener('click', () => window.print());
  // Show print button after scrolling stops
  let scrollTimeout;

  function showButton() {
    printButton.classList.add('visible');
  }

  function hideButton() {
    printButton.classList.remove('visible');
  }

  window.addEventListener('scroll', () => {
    hideButton();
    clearTimeout(scrollTimeout);
    scrollTimeout = setTimeout(showButton, 800);
  }, { passive: true });

  // Show button on initial load after a delay
  setTimeout(showButton, 1500);
});
{% endjs %}
