---
layout: base
prism: true
customScripts:
  - slides
customSheets:
  - slides
---

<a-band class="item-header masthead" collapsed accent role="banner" aria-labelledby="title">
    <a href="{{ '/' | url }}" title="Return to the home page" slot="header">
      <img src="../../img/cartoon-self.png" alt="Animated caricature of the author" data-type="rounded">
    </a>
    <h1 class="headline" id="title">{{ title }}</h1>
    <p class="metadata">
        {% if author or site.author %}<span class="author">written by <span class="name">{{ author or site.author }}</span></span>{% endif %}
        {% if date %}<span class="date">{{ date | long }}</span>{% endif %}
        {% if listing_page %}<span class="cta"><a href="{{ '..' | url }}" title="Return to the {{ listing_page }} page" class="cta-link">All {{ listing_page }}</a></span>{% endif %}
    </p>
    {% set contentTags = tags | contentTags %}
    {% if contentTags.length > 0 %}<tag-group tags="{{ contentTags | join(',') }}" labeled filters url="{{ listing_url }}"></tag-group>{% endif %}
</a-band>

<main id="main-content" aria-label="Main content" tabindex="-1">
  <a-band class="item-body">
    <aside class="table-of-contents">
        <h2 class="title">Table of contents</h2>
        {{ content | toc | safe }}
    </aside>
    <div class="content">{{ content | md | safe }}</div>

    {% if sales_pitch %}
    <a-note slot="footer">
        <p>{{ sales_pitch }}</p>
        <a class="cta-button" href="mailto:{{ site.contact.email }}">Let's connect</a>
    </a-note>
    {% endif %}
  </a-band>
</main>
