.switcher {
    padding-top: 0;
    overflow: hidden;
    position: relative;

    &-body {
        transition: min-height 1s ease;
    }

    &-tab {
        height: 0;
        overflow: hidden;

        &[active] {
            height: auto;
        }
    }

    &-slide {
        position: absolute;
        top: 0;
        left: 0;
        /* set up the transitions */
        transition: -webkit-transform 1s ease;
        transition: transform 1s ease;
        transition: transform 1s ease, -webkit-transform 1s ease;

        &[data-state="current"] {
            transform: translate(0, 0);
            transform: translate3D(0, 0, 0);
        }

        &[data-state="next"] {
            transform: translate(200%, 0);
            transform: translate3D(200%, 0, 0);
        }

        &[data-state="prev"] {
            transform: translate(-150%, 0);
            transform: translate3D(-150%, 0, 0);
        }
    }
}
