---
layout: base
tags:
    - listing
---

{% include "_masthead.njk" %}

{% set allTags = collections[key] | allTags %}
{% set listingUrl = page.url %}

<main id="main-content" aria-label="Main content" tabindex="-1">
    <a-band class="listing" thick>
        <div slot="header">
            <h2 class="title highlight">{{ title }}</h2>
            {{ content | safe }}
        </div>

        {% if allTags.length > 0 %}
        <a-container>
            <tag-group tags="{{ allTags | join(',') }}" filters controls url="{{ listingUrl }}" aria-label="Filter by tag"></tag-group>
        </a-container>
        {% endif %}

        {% for item in collections[key] | reverse %}
        {% set itemPage = item.page %}
        {% set data = item.data %}
        {% set itemTags = data.tags | contentTags %}
        {% if data.title %}
            <a-card bordered data-tags="{{ itemTags | join(',') }}">
                <div slot="header">
                    {% if itemPage.date %}<p class="date">{{ itemPage.date | long }}</p>{% endif %}
                    <h3 class="headline accent">{% if itemPage.url %}<a href="{{ itemPage.url | url }}">{% endif %}{{ data.title }}{% if itemPage.url %}</a>{% endif %}</h3>
                </div>
                {% if data.description %}<p class="content">{{ data.description }}</p>{% endif %}
                {% if itemTags.length > 0 %}<tag-group tags="{{ itemTags | join(',') }}" filters url="{{ listingUrl }}" labeled slot="footer"></tag-group>{% endif %}
            </a-card>
        {% endif %}
        {% endfor %}
    </a-band>

    {% include "_cta-band.njk" %}
</main>
