---
layout: base
masthead: true
---

<a-band layout="space-between" id="post-header">
    <a href="/" title="Return to the home page"><img src="../img/cartoon-self.png" alt="Animated caricature of the author" data-type="rounded"></a>
    <div>
        <h1 class="headline">{{ title }}</h1>
        <p class="metadata">
            <span class="author">{{ author || site.author }}</span>
            <span class="date">{{ date | date: '%B %e, %Y' }}</span>
            <span class="cta"><a href="/posts" title="Return to the posts page" class="cta-link">All posts</a></span>
        </p>
        {% if tags?.length > 0 %}<tag-group tags="{{ tags.join(',') }}" labeled></tag-group>{% endif %}
    </div>
</a-band>

<a-band id="post-content">
    <aside>
        <details class="post-toc">
            <summary>Table of contents</summary>
            {{ toc(content) | safe }}
        </details>
    </aside>
    <div class="content">{{ content | md | safe }}</div>

    <a-note style="margin-block-start: 2em">
        <p>Did you find this post helpful? I'm available for full-time, consulting, speaking, workshops, or training.</p>
        <a href="{{ site.contact.scheduler }}">Let's connect!</a>
    </a-note>
</a-band>
