---
layout: base
masthead: true
---

<a-band space-between id="proposal">
    <h1 class="headline">{{ title }}</h1>
    <p class="metadata">
        {% if author or site.author %}<span class="author">{{ author or site.author }}</span>{% endif %}
        <span class="cta"><a href="{{ '/proposals/' | url }}" title="Return to the proposals page" class="cta-link">All proposals</a></span>
    </p>
    {% if tags.length > 0 %}<tag-group tags="{{ tags | join(',') }}" labeled></tag-group>{% endif %}
</a-band>

<a-band id="proposal-content">
    <aside>
        <details class="table-of-contents">
            <summary>Table of contents</summary>
            {{ content | toc | safe }}
        </details>
    </aside>
    <div class="content">{{ content | md | safe }}</div>

    <a-note>
        <p>Did you find this proposal interesting? I'm available for speaking, workshops, or training.</p>
        <a href="{{ site.contact.scheduler }}">Let's connect</a>
    </a-note>
</a-band>

{% js %}
   import '/js/components/a-band.js';
   import '/js/components/a-note.js';
   import '/js/components/tag-group.js';
{% endjs %}

{% css %}
#proposal {
    .headline {
        margin-block-end: 0;
    }
}

#proposal-content {
    .content {
        background-color: var(--theme--surface--color);
        padding: 1em;
        border-radius: var(--border-radius);
        box-shadow: 0 0 10px 0 color-mix(in sRGB, var(--theme--text--Color) 10%, transparent);

        :is(h2) {
            position: relative;

            &:not(:first-child) {
                margin-block-start: 2em !important;
            }

            &:first-child {
                margin-block-start: 0 !important;
            }

            &::after {
                content: '';
                display: block;
                background-color: color-mix(in srgb, var(--theme--ui--Color) 10%, transparent);
                height: .8em;
                width: 100%;
                inset-block-start: -0.05em;
                inset-inline-start: -0.25em;
                z-index: -1;
                position: absolute;
            }
        }
    }

    a-note {
        margin-block-start: 2em;
        align-self: center;
    }
}
{% endcss %}
