@charset "UTF-8";

/* Global stylesheet */
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--sl-font-sans);
}

body {
    font-size: 18px;
    line-height: 1.444;
    font-weight: 100;
    background-color: var(--background-color);
    color: var(--text-color);
}

p:last-child {
    margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dd,
img {
    max-width: 60ch;
}
p,
li {
    line-height: 1.45;
}

a,
a:visited {
    color: currentColor;
}
a:hover {
    color: var(--sl-color-primary-300);
}

main {
    margin: 1rem;
}
section {
    margin-block: 1rem;
}
article {
    padding-block: 4em 2em;
}
section:first-child,
article:first-child {
    padding-block-start: 0;
}
section > article {
    max-width: 1100px;
    margin-inline: auto;
}
main > *:first-child {
    margin-top: 0;
}

table {
    margin: 1em 0;
}
table td,
table th {
    padding-right: 1em;
}
time {
    font-size: 0.8125em; /* 13px /16 */
    color: var(--color-gray-90);
    word-spacing: -0.5px;
}

pre,
code {
    font-family: var(--sl-font-sans-monospace);
    line-height: 1.5;
}
pre {
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: 0.5em 0;
    background-color: var(--sl-color-neutral-300);
}
code {
    word-break: break-all;
}

iframe {
    aspect-ratio: 16 / 9;
}

dl {
    line-height: 1.2;
    margin: 0;
}

dt {
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.18;
    margin-block-start: 0;
    margin-block-end: .8em;
}

dd {
    margin: 0;
    margin-block-end: 1em;
    font-size: .9em;
}

dd:first-child {
    margin-block-end: .7em;
}

ul,
ol {
    margin: 0;
}

dl:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
    margin-block-end: 1.5em;
}

li {
    font-size: 1em;
    margin: 0;
    line-height: 1.44;
}

:not(.nav,sl-tooltip) > sl-button[variant="text"]::part(label) {
    padding-inline: 0;
}

@media screen and (max-width: 991px) {
    .desktop-only {
        display: none !important;
    }
}
@media screen and (min-width: 992px) {
    .mobile-only {
        display: none !important;
    }
}
.cv-only {
    display: none;
}
.wide {
    max-width: 95vw;
}
.mobile-only {
    text-align: right;
    font-size: 1.5em;
}
.heading {
    color: var(--sl-color-neutral-900);
    font-size: 2.3em;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 0;
}
.sting {
    font-size: 4em;
    margin-block-end: 0;
}
.title {
    color: var(--sl-color-neutral-900);
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.4;
    margin-block-end: 2em;
}
.accent {
    color: var(--sl-color-primary-600);
}
.center {
    text-align: center;
    margin-inline: auto;
}
.narrow {
    margin-block: 0;
}
article + .narrow {
    margin-block-start: -1.5em;
}
.light {
    font-weight: 100;
}
.hidden-text {
    display: none;
}

sl-details h2 {
    margin: 0 !important;
    padding: 0;
}